.sr-only {
    display: block;
    text-indent: -9999px;
    width: 0;
    height: 0;
}

// section commons
section:not(.cont-home) {
    margin-top: 20rem;

    @include bdesktop() {
        margin-top: 12rem;
    }
    @include desktop() {
        margin-top: 8rem;
    }
}

// section wrapper
.cont__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 171.2rem;

    @media screen and (max-width: 1902px) {
        max-width: 131.6rem;
    }
    @media screen and (max-width: 1439px) {
        max-width: 95.2rem;
    }
    @include tablets() {
        padding: 0;
        max-width: 71.2rem;
    }
    @include mobile() {
        max-width: 41.2rem;
    }
}

// section title
.cont__title {
    position: relative;
    font-size: 2.71vw;
    letter-spacing: -1px;
    word-break: keep-all;
    @include mobile() {
        font-size: 2.6rem;
    }
    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 4.06vw;
        height: 4.06vw;

        margin-right: 0.384em;
        background-size: 100%;
        @include mobile() {
            display: none;
        }
    }

    &.type-story {
        &::before {
            background-image: url(/assets/img/ico_tit_archives.gif);
        }
    }
    &.type-service {
        &::before {
            background-image: url(/assets/img/ico_tit_service.gif);
        }
    }
    &.type-news {
        &::before {
            background-image: url(/assets/img/ico_tit_date.gif);
        }
    }
    &.type-promise {
        &::before {
            background-image: url(/assets/img/ico_tit_esg.gif);
        }
    }
    &.type-help {
        &::before {
            background-image: url(/assets/img/ico_tit_help.gif);
        }
    }
}

// swiper
.swiper-slide {
    overflow: hidden;
    border-radius: $borderWidget;
}

// wrap_btn
.wrap_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.458vw;
    height: 7.6rem;
    margin: 3.6rem auto 0;
    font-size: 2.2rem;
    background-color: $colorGrayF3;
    border-radius: 3.8rem;

    span {
        display: block;
        width: 1.09em;
        height: 1.09em;
        margin-left: 0.545em;
    }
}
