$bdesktop: 1902px;
$desktop: 1439px;
$tablets: 1023px;
$mobile: 767px;

@mixin bdesktop() {
    @media (max-width: $bdesktop) {
        @content;
    }
}

@mixin desktop() {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin tablets() {
    @media (max-width: $tablets) {
        @content;
    }
}

@mixin mobile() {
    @media (max-width: $mobile) {
        @content;
    }
}
