// Color
$colorPrimary: #fae100;
$colorAccent: #0073ff;
$colorSkyBlue: #89dcff;
$colorGreen: #1ed47e;
$colorDarkGreen: #03502b;

$colorWhite: #fff;
$colorGray1: #eee;
$colorGray2: #d5d5d5;
$colorGray3: #dfdfdf;
$colorGray4: #f4f4f4;
$colorGrayF3: #f3f3f3;
$colorGray5: #f7f7f7;
$colorGray6: #fcfcfc;
$colorGray7: #444;
$colorGray8: #333;
$colorGray9: #888;
$colorLightBlack: #1a1a1a;
$colorSemiBlack: #111;
$colorBlack: #000;

//Background Color
$baseBackground: $colorWhite;
$baseBackground1: rgba(255, 255, 255, 0.9);
$baseBackground2: rgba(255, 255, 255, 0.8);
$baseForeground: $colorBlack;

// border
$borderWidget: 2.4rem;
$borderVisual: 3.6rem;
