html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    color: $colorBlack;
    background-color: $colorWhite;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;

    &.no-scr {
        overflow-y: hidden;
    }
    // search-toggle
    &.open_search {
        overflow-y: hidden;
        .doc_main {
            height: calc(100vh - 92px);
            transform: translateY(310px);
            overflow: hidden;
        }
        .search_layer {
            display: block;
            top: 0;
            bottom: 0;
            &::before {
                opacity: 0.9;
            }
            .inner_layer {
                opacity: 1;

                .layer_body {
                    .area_search {
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .icon-path {
        stroke: #000; /* 기본 색상 (라이트 모드) */
        transition: stroke 0.3s; /* 부드러운 전환 효과 */
    }
    // dark-mode
    &.dark-mode {
        color: $colorWhite;
        background-color: $colorBlack;

        header {
            color: $colorWhite;
            background-color: $colorBlack;
            border-bottom: 1px solid $colorBlack;

            &.active {
                border-bottom: 1px solid $colorGray8;
            }
        }

        .icon-path {
            stroke: #fff !important;
        }

        .info_banner {
            background-color: $colorWhite;
            color: $colorBlack;
        }
        [class*='inner-'] {
            background-color: $colorBlack !important;
        }

        .swiper-slide {
            * {
                color: $colorBlack !important;
            }
        }

        .item_normal_card {
            background-color: $colorGray8 !important;
            color: $colorWhite;

            [class*='card'] {
                color: $colorWhite !important;
            }
        }

        .cont-service__list-item {
            background-color: $colorGray8 !important;
        }

        .commons {
            background-color: $colorGray8 !important;
        }

        .title_responsible {
            background-color: $colorBlack;
        }
        .btn_area {
            background-color: $colorBlack;
        }

        .wrap_btn {
            background-color: $colorGray8 !important;
        }
        .text_cate {
            background-color: $colorGray7 !important;
        }

        .kakao_subscribe {
            color: $colorBlack !important;
        }
    }
}

.container_doc {
    position: relative;
}
.doc_main {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.59, 0.01, 0.28, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.59, 0.01, 0.28, 1);
    transition: transform 0.5s cubic-bezier(0.59, 0.01, 0.28, 1);
    transition: transform 0.5s cubic-bezier(0.59, 0.01, 0.28, 1),
        -webkit-transform 0.5s cubic-bezier(0.59, 0.01, 0.28, 1);
    > article {
        padding-bottom: 20rem;
    }
}
// home
.cont-home {
    display: grid;
    row-gap: 1.6rem;
    grid-template-columns: 142.4rem 27.2rem;
    grid-template-rows: 27.2rem 34rem 16.4rem;
    max-width: 171.2rem;
    margin: 0 auto;
    padding-top: 9.2rem;
    justify-content: space-between;

    @media screen and (max-width: 1902px) {
        max-width: 1316px;
        grid-template-columns: 109.4rem 20.6rem;
        grid-template-rows: 20.6rem 25.9rem 12.4rem;
    }

    @include desktop() {
        max-width: 94.8rem;
        grid-template-columns: 75.5rem 18rem;
        grid-template-rows: 18rem 17rem 12rem;
        row-gap: 0.8rem;
    }

    @include tablets() {
        max-width: 71.2rem;
        padding-top: 7.2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 41rem 23.2rem;
        row-gap: 2rem;
        column-gap: 0.8rem;
    }

    @include mobile() {
        max-width: 38.4rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .visual {
        grid-row: 1 / 4;
        @include tablets() {
            grid-row: 1 / 2;
            grid-column: 1/4;
        }
        @include mobile() {
            grid-row: auto;
            grid-column: auto;
        }
        @include mobile() {
            margin-bottom: 3rem;
        }
        .visual-wrpper {
            position: relative;

            .inner-top {
                position: absolute;
                top: -2px;
                right: -2px;
                padding: 2px 27px 11px;
                border-radius: 0 0 0 3.6rem;
                background-color: $colorWhite;
                z-index: 50;
                @include desktop() {
                    border-radius: 0 0 0 2rem;
                }
                @include tablets() {
                    padding: 5px 0 5px 0;
                }

                a.tooltip {
                    @media screen and (max-width: 1902px) {
                        width: 8.2rem;
                        height: 8.2rem;
                    }
                    @include desktop() {
                        width: 6rem;
                        height: 6rem;
                        border-radius: 0 0 0 2rem;
                    }
                    @include tablets() {
                        position: static;
                        padding: 5px 0 5px 11px;
                    }
                    img {
                        position: relative;
                        display: block;
                        margin-top: -5px;
                        width: 9.4rem;
                        height: 9.4rem;
                        @media screen and (max-width: 1902px) {
                            width: 8.2rem;
                            height: 8.2rem;
                        }
                        @include desktop() {
                            width: 6rem;
                            height: 6rem;
                        }

                        @include tablets() {
                            display: inline-block;
                            // vertical-align: middle;
                            width: 4.8rem;
                            height: 4.8rem;
                            position: static;
                        }
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: -3.6rem;
                    top: 0;
                    width: 3.8rem;
                    height: 3.8rem;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-image: url(/assets/img/right-top.svg);
                    @include desktop() {
                        width: 2.2rem;
                        height: 2.2rem;
                        left: -2rem;
                        background-image: url(/assets/img/right-top-small.svg);
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: -0;
                    bottom: -3.6rem;
                    width: 3.8rem;
                    height: 3.8rem;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-image: url(/assets/img/right-top.svg);
                    @include desktop() {
                        width: 2.2rem;
                        height: 2.2rem;
                        bottom: -2rem;
                        background-image: url(/assets/img/right-top-small.svg);
                    }
                }
            }
            .info_banner {
                position: absolute;
                display: none;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                left: -2.2rem;
                top: -5.1rem;
                padding: 0.928em 1.142em;
                border-radius: 1.2rem;
                letter-spacing: -0.2px;
                font-size: 1.4rem;
                line-height: 1.7;
                background-color: $colorBlack;
                color: $colorWhite;
                z-index: 1000;
                @include desktop() {
                    left: -5px;
                    top: -31px;
                }
                @include tablets() {
                    display: inline-block !important;
                    position: relative;
                    vertical-align: top;
                    left: auto;
                    top: auto;
                    padding: 9px 16px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 16px;
                    bottom: -7px;
                    width: 1.2rem;
                    height: 1.2rem;
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 12a7.967 7.967 0 01-3.307-6.466V0H0c0 6.627 5.373 12 12 12z' fill='%23000'/%3E%3C/svg%3E");
                    background-size: 100%;

                    @include tablets() {
                        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 13a6.64 6.64 0 01-2.756-5.388V0L0 3c0 5.523 4.477 10 10 10z' fill='%23000'/%3E%3C/svg%3E");
                        width: 10.5px;
                        height: 13px;
                        left: auto;
                        right: -2.5px;
                        bottom: 1px;
                    }
                }
            }
            .inner-cont {
                position: relative;
                border-radius: $borderVisual;
                overflow: hidden;
                height: 80.8rem;
                border-radius: 3.6rem;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    background-color: rgba(0, 0, 0, 0.1);
                    -webkit-background-color: rgba(0, 0, 0, 0.1);
                }
                video {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    height: 100%;
                }

                @media screen and (max-width: 1902px) {
                    height: 62.1rem;
                }

                @include desktop() {
                    height: 48.6rem;
                    border-radius: 2rem;
                }
                @include tablets() {
                    height: 40.5rem;
                    border-radius: 2rem;
                }
                @include mobile() {
                    height: 24.9rem;
                }
            }
            .inner-bottom {
                position: absolute;
                bottom: -2px;
                left: -2px;
                border-radius: 0 3.6rem 0 0;
                background-color: $colorWhite;
                padding: 2.4rem 5.8rem 1.2rem;
                z-index: 10;
                @include desktop() {
                    border-radius: 0 2rem 0 0;
                }

                @include mobile() {
                    width: 100%;

                    border-radius: 0;
                    padding: 0;
                    position: static;
                    margin-top: 1rem;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -36px;
                    width: 38px;
                    height: 38px;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-image: url(/assets/img/left-bottom.svg);

                    @include desktop() {
                        width: 2.2rem;
                        height: 2.2rem;
                        top: -2rem;
                        background-image: url(/assets/img/left-bottom-small.svg);
                    }
                    @include mobile() {
                        display: none;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: -36px;
                    bottom: 0;
                    width: 38px;
                    height: 38px;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-image: url(/assets/img/left-bottom.svg);

                    @include desktop() {
                        width: 2.2rem;
                        height: 2.2rem;
                        right: -2rem;
                        background-image: url(/assets/img/left-bottom-small.svg);
                    }
                    @include mobile() {
                        display: none;
                    }
                }
                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 2.9em;
                    font-size: 2.2rem;
                    letter-spacing: -0.6px;
                    transition: $btnHover;

                    @include mobile() {
                        justify-content: center;
                        height: 4.8rem;
                        border-radius: 3.6rem;
                        background-color: $colorGrayF3;
                    }
                    &:hover {
                        @include mobile() {
                            box-shadow: $btnShadow;
                        }
                    }
                    span {
                        display: flex;
                        height: 100%;
                        letter-spacing: -0.6px;
                        align-items: center;
                        @media screen and (max-width: 1902px) {
                            line-height: 4.6rem;
                        }
                        @include desktop() {
                            line-height: 2.4rem;
                            font-size: 1.5rem;
                        }
                    }
                    span.screen_out {
                        svg {
                            width: 6.4rem;
                            height: 100%;
                            margin-left: 2rem;
                            @media screen and (max-width: 1902px) {
                                width: 4.8rem;
                                margin-left: 1.4rem;
                            }
                            @include desktop() {
                                line-height: 2.4rem;
                                font-size: 1.5rem;
                                width: 2.4rem;
                                margin-left: 0.8rem;
                            }
                        }
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    .widget {
        overflow: hidden;

        // grid-area: widget;

        @include desktop() {
            border-radius: 2rem;
        }
        @include tablets() {
            grid-row: 2 / 3;
        }
        @include mobile() {
            grid-row: auto;
            // height: 22rem;
        }
        > .swiper-container {
            position: relative;
            height: 100%;
        }

        // 페이지네이션
        .swiper-pagination {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            // font-size: 0;
            white-space: nowrap;
            bottom: 2.2rem;
            @include desktop() {
                bottom: 0.4rem;
            }
            .swiper-pagination-bullet {
                content: '';
                box-sizing: border-box;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                border: 1px solid #888;
                background-color: $colorWhite;
                opacity: 1;
                margin: 0.8rem;

                &-active {
                    width: 2.4rem;
                    background-color: #000;
                }
            }
        }

        // 슬라이드 버튼
        .swiper-commons-button {
            position: absolute;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            width: 3.2rem;
            height: 3.2rem;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            @media screen and (max-width: 1902px) {
                width: 2.4rem;
                height: 2.4rem;
            }
            &::after {
                display: none;
            }
        }
        .swiper-button-prev {
            left: 1rem;
            background-image: url(/assets/img/prev.svg);
        }
        .swiper-button-next {
            right: 1rem;
            background-image: url(/assets/img/next.svg);
        }
        &.first {
            grid-row: 1 / 2;

            @include tablets() {
                grid-row: auto;
            }

            .swiper-container {
                @include mobile() {
                    padding-top: 4.2rem;
                }
            }
            .swiper-wrapper {
                display: table;
                width: 200%;
                .swiper-slide {
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                    background-color: $colorPrimary;
                    @include mobile() {
                        // display: flex;
                        height: 22rem;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    h2 {
                        font-size: 1.7rem;
                        line-height: 1.58;
                        letter-spacing: -0.5px;

                        @include desktop() {
                            font-size: 1.4rem;
                        }
                        br {
                            display: block;
                            @media screen and (max-width: 1902px) {
                                display: block;
                            }
                            @include mobile() {
                                display: none;
                            }
                        }
                    }
                    strong {
                        display: inline-block;
                        line-height: 1.44;
                        letter-spacing: -0.8px;
                        font-weight: 600;
                        span {
                            font-size: 3.6rem;
                            line-height: 1.44;
                            letter-spacing: -0.8px;
                            @media screen and (max-width: 1902px) {
                                font-size: 2.6rem;
                            }

                            @include desktop() {
                                font-size: 1.8rem;
                            }
                            @include mobile() {
                                font-size: 3.6rem;
                            }
                        }
                    }
                    .text_count {
                        display: inline-block;
                        font-size: 1.6rem;
                        line-height: 2.1;
                        // margin: 0.5em 0 0 0.4em;
                    }

                    &.slide2 {
                        background-image: url(/assets/img/kakao-impact.webp);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                    }
                }
            }
            .swiper-pagination {
                @include mobile() {
                    top: 0;
                    left: 8.4rem;
                    height: 3.2rem;
                    margin-left: 1rem;
                }
                span {
                    font-size: 1.2rem;
                    color: $colorGray9;
                    display: inline-block;
                    padding: 0 3px;
                }
            }
            .swiper-commons-button {
                display: none;

                @include mobile() {
                    display: block;
                    width: 3.2rem;
                    height: 3.2rem;
                    top: 1rem;
                }

                &.swiper-button-prev {
                    left: 0;
                    background-image: url(/assets/img/prev_m_ico.svg);
                }
                &.swiper-button-next {
                    left: 3.8rem;
                    background-image: url(/assets/img/next_m_ico.svg);
                }
            }
        }

        &.second {
            grid-row: 2 / 3;
            @include tablets() {
                grid-row: auto;
            }
            @include mobile() {
                height: 18rem;
            }
            > .swiper-container {
                .swiper-wrapper {
                    width: 300%;
                    .swiper-slide {
                        padding: 2rem;
                        background-color: $colorGrayF3;
                        @include desktop() {
                            font-size: 1.2rem;
                        }
                        .badge {
                            display: inline-block;
                            margin-bottom: 0.857em;
                            padding: 0.285em 0.666em;
                            border-radius: 8px;
                            font-size: 1.4rem;
                            line-height: 1.78;
                            letter-spacing: -0.2px;
                            background-color: $colorPrimary;
                            &.type2 {
                                color: $colorWhite;
                                // background-color: $colorBlack;
                            }
                            @media screen and (max-width: 1902px) {
                                margin-bottom: 0.5rem;
                            }
                            @include desktop() {
                                font-size: 1.2rem;
                            }
                        }
                        strong {
                            display: block;
                            font-size: 2.2rem;
                            line-height: 1.36;
                            letter-spacing: -0.6px;
                            font-weight: 400;

                            @media screen and (max-width: 1902px) {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                                font-size: 1.8rem;
                                line-height: 1.4;
                            }
                            @include desktop() {
                                font-size: 1.4rem;
                            }
                            @include mobile() {
                                font-size: 1.6rem;
                            }
                        }
                        .tag-container {
                            margin-top: 8px;
                            margin-left: -8px;
                            @include desktop() {
                                display: flex;
                            }
                            .tag {
                                display: inline-block;
                                vertical-align: top;
                                font-size: 1.6rem;
                                line-height: 1.62;
                                letter-spacing: -0.5px;
                                color: $colorGray10;
                                margin-left: 8px;

                                @media screen and (max-width: 1902px) {
                                    font-size: 1.4rem;
                                    line-height: 1.42;
                                    letter-spacing: -0.2px;
                                    word-break: break-all;
                                }
                                @include desktop() {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
                .swiper-pagination {
                    .swiper-pagination-bullet {
                        background-color: $colorGray9;
                        border: 0;
                        &-active {
                            width: 24px;
                            background-color: #000;
                        }
                    }
                }
            }
        }

        &.third {
            grid-row: 3 / 4;
            @include tablets() {
                grid-row: auto;
            }
            .swiper-wrapper {
                .swiper-slide {
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    @include mobile() {
                        height: 22rem;
                    }
                    b img {
                        display: block !important;
                        margin-bottom: 4px;
                        width: 8rem;
                        height: 8rem;
                        @media screen and (max-width: 1902px) {
                            width: 4rem;
                            height: 4rem;
                        }
                        @include mobile() {
                            width: 8rem;
                            height: 8rem;
                        }
                    }
                    span {
                        position: relative;
                        display: block;
                        font-size: 2.2rem;
                        line-height: 1.36;
                        letter-spacing: -0.6px;
                        text-align: center;
                        @include desktop() {
                            font-size: 1.5rem;
                            line-height: 1.6;
                            letter-spacing: -0.2px;
                        }
                    }
                }
                .history {
                    position: relative;
                    background-image: url(/assets/img/history.webp);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    font-size: 2.2rem;
                    line-height: 1.36;
                    letter-spacing: -0.6px;
                    color: $colorWhite;
                    font-weight: 500;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                    span {
                        position: relative;
                        display: block;
                        z-index: 10;
                    }
                }
            }
        }
    }
}

// story
.cont-story {
    overflow: hidden;
    .type-story {
        display: flex;
        align-items: center;
        .btn_story {
            // display: inline-block;
            width: 5.6rem;
            height: 5.6rem;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin-left: auto;
            margin-right: 0;
            @include desktop() {
                width: 3.2rem;
                height: 3.2rem;
            }
            @include mobile() {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            &.pause {
                background-image: url(/assets/img/ico_pause.svg);
            }
            &.play {
                background-image: url(/assets/img/ico_play.svg);
            }
        }
    }
}
.cont-story__list {
    display: flex;
    white-space: nowrap;
    gap: 1.6rem;

    @include desktop() {
        gap: 1.2rem;
    }
    &-item {
        > .item_normal_card {
            border-radius: 2.4rem;
            background-color: $colorGrayF3;
            // width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            overflow: hidden;
            box-sizing: border-box;
            height: 100%;

            @include tablets() {
                border-radius: 1.6rem;
            }

            > .wrap_cont {
                display: flex;
                justify-content: space-between;
                height: 53.7rem;

                @include bdesktop() {
                    height: 43.9rem;
                }
                @include desktop() {
                    height: 36.5rem;
                }
                @include tablets() {
                    height: 32.8rem;
                }

                > .wrap_text {
                    display: flex;
                    flex-direction: column;
                    width: 41.6rem;
                    padding: 4rem;
                    @include bdesktop() {
                        width: 33.2rem;
                        padding: 3rem;
                    }
                    @include desktop() {
                        width: 100%;
                        padding: 2.4rem;
                    }
                    @include tablets() {
                        padding: 2rem;
                    }
                    .info_cate {
                        display: flex;
                        justify-content: space-between;
                        .info_cate__tit {
                            display: flex;
                            align-items: center;
                            img {
                                display: block;
                                width: 3.2rem;
                                height: 3.2rem;
                                margin-right: 8px;
                            }
                            .text_cate {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                height: 3.2rem;
                                padding: 0 12px;
                                border-radius: 8px;
                                background-color: $colorWhite;
                                font-size: 1.4rem;
                                letter-spacing: -0.2px;

                                @include desktop() {
                                    font-size: 1.2rem;
                                    height: 2.6rem;
                                }
                            }
                        }
                        .share_btn {
                            width: 2.4rem;
                            height: 2.4rem;
                        }
                    }
                    > .tit_card {
                        display: block;
                        font-weight: 600;
                        margin-top: 1.6rem;
                        font-size: 2.6rem;
                        letter-spacing: -0.8px;
                        -webkit-line-clamp: 3;
                        @include desktop() {
                            font-size: 1.8rem;
                            -webkit-line-clamp: 2;
                        }
                    }
                    > .desc_card {
                        margin-top: 1.2rem;
                        font-size: 1.6rem;
                        -webkit-line-clamp: 7;
                        color: $colorGray10;

                        @include desktop() {
                            display: none;
                        }
                    }
                    .info_card {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.8rem;
                        font-size: 1.6rem;
                        color: $colorGray10;
                        margin-top: auto;
                        @include desktop() {
                            font-size: 1.3rem;
                        }

                        .removed {
                            display: block;
                            @include desktop() {
                                display: none;
                            }
                        }
                    }
                }
                > .wrap_thumb {
                    height: 100%;
                    // flex: 1;
                }
            }
        }

        // wide type 슬라이드
        &.type_wide {
            width: 137rem;

            @include bdesktop() {
                width: 111rem;
            }
            > .wrap_text {
                width: 41.6rem;
                @include bdesktop() {
                    // width: 33.2rem;
                }
            }
        }

        &.type_normal {
            width: 41.6rem;
            @include bdesktop() {
                width: 31.7rem;
            }

            @include desktop() {
                width: 30.8rem;
            }
            @include tablets() {
                width: 23.2rem;
            }
            @include mobile() {
                width: 25.2rem;
            }
            .wrap_cont {
                flex-direction: column;

                &.reverse {
                    flex-direction: column-reverse;
                    @include tablets() {
                        flex-direction: column;
                    }
                }
                .wrap_text {
                    height: calc(100% - 23.4rem);

                    @include bdesktop() {
                        height: calc(100% - 17.9rem);
                    }
                    @include desktop() {
                        height: calc(100% - 17.4rem);
                    }
                    @include tablets() {
                        height: calc(100% - 13rem);
                    }
                    @include mobile() {
                        height: auto;
                    }
                }
                .wrap_thumb {
                    height: auto;
                    img {
                        width: 100%;
                        height: 23.4rem;
                        @include bdesktop() {
                            height: 17.9rem;
                        }
                        @include desktop() {
                            height: 17.4rem;
                        }
                        @include tablets() {
                            height: 13rem;
                        }
                        @include mobile() {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

// service
.cont-service__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1.6rem;
    @include mobile() {
        gap: 1.2rem;
    }
    > .cont-service__list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.07em;
        font-size: 3rem;
        background-color: $colorGrayF3;
        border-radius: $borderWidget;

        @include desktop() {
            font-size: 1.8rem;
        }

        @include tablets() {
            padding: 1.777em 1.333em;
            border-radius: 1.6rem;
        }

        @include mobile() {
            font-size: 1.6rem;
            flex-direction: column;
            padding: 1.25em;
            align-items: flex-start;
            gap: 1em;
        }
        strong {
            letter-spacing: -0.8px;
            font-weight: 600;
        }
        .item__services {
            display: flex;
            gap: 0.4em;
            > .service {
                display: block;
                width: 5.6rem;
                height: 5.6rem;
                border-radius: $borderSmall;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: 50%;
                transition: $btnHover;
                @include desktop() {
                    width: 4.6rem;
                    height: 4.6rem;
                }

                &:hover {
                    opacity: 0.7;
                }

                &.kakao {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/cc08d9e2018e00001.png);
                }
                &.daum {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9425290018c00001.png);
                }
                &.story {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c942653a018c00001.png);
                }
                &.channel {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9468d8a018c00001.png);
                }
                &.cloud {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9469d4a018c00001.png);
                }
                &.agit {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c946aa55018c00001.png);
                }
                &.kakaoMap {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c947f606018c00001.png);
                }
                &.kakaoT {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94804d8018c00001.png);
                }
                &.kakaoBank {
                    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9481249018c00001.png);
                }
                &.kakaoGift {
                    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94a2627018c00001.png');
                }
                &.kakaoShop {
                    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94a89d4018c00001.png');
                }
                &.kakaoZigzag {
                    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94a96f9018c00001.png');
                }
                &.kakaoPage {
                    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94b668f018c00001.png');
                }
                &.kakaoPiccoma {
                    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94b7687018c00001.png');
                }
                &.kakaoMelon {
                    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94b83e3018c00001.png');
                }
                &.kakaoTogether {
                    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94c09cc018c00001.png');
                }

                &.link {
                    background-image: url(/assets/img/ico_more.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 2.4rem;
                    background-color: rgba(0, 0, 0, 0.4);
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.9);
                    }
                }
            }
            > .last {
                @include tablets() {
                    display: none;
                }
            }
        }
    }
}

//promise
.cont-promise {
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;

        @include desktop() {
            gap: 1.2rem;
        }
        @include tablets() {
            gap: 0.8rem;
        }
        @include mobile() {
            display: block;
        }
        &-item {
            flex: 1;
            position: relative;
            height: 66.9rem;
            border-radius: $borderWidget;

            @include bdesktop() {
                height: 55.9rem;
            }
            @include desktop() {
                height: 39.7rem;
            }
            @include tablets() {
                height: 34.1rem;
            }
            @include mobile() {
                margin-top: 1.6rem;
                height: 29.6rem;
            }
            .title_responsible {
                position: absolute;
                right: -2px;
                top: -2px;
                padding: 0.117em 0.117em 1.062em 1.062em;
                background-color: $colorWhite;
                border-radius: 0 0 0 3.6rem;
                font-size: 1.7rem;
                @include bdesktop() {
                    padding: 0.117em 0.117em 0.882em 0.882em;
                    border-radius: 0 0 0 2.4rem;
                }
                @include desktop() {
                    font-size: 1.4rem;
                    border-radius: 0 0 0 2rem;
                }
                @include mobile() {
                    padding: 0 0 0.846em 0.846em;
                    font-size: 1.3rem;
                }

                .name_reponsible {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 27.2rem;
                    height: 5.8rem;
                    margin: 2px 2px 0 0;
                    text-align: center;
                    border-radius: 2.9rem;
                    letter-spacing: -0.5px;
                    @include bdesktop() {
                        width: 20.5rem;
                        height: 5rem;
                        border-radius: 2.5rem;
                    }
                    @include desktop() {
                        width: 16.8rem;
                        height: 4rem;
                        border-radius: 2rem;
                    }
                    @include tablets() {
                        width: 12.5rem;
                        height: 3.2rem;
                        border-radius: 1.6rem;
                    }
                    @include mobile() {
                        width: 18.6rem;
                        height: 4rem;
                        border-radius: 20px;
                    }
                    &.bg-esg {
                        background-color: $colorSkyBlue;
                    }
                    &.bg-green {
                        background-color: $colorGreen;
                    }
                    &.bg-policy {
                        background-color: $colorPrimary;
                    }
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 2.6rem;
                        height: 2.6rem;
                        left: -2.4rem;
                        top: 0;
                        background-size: 100% auto;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-image: url(/assets/img/right-top.svg);

                        @include desktop() {
                            width: 18px;
                            height: 18px;
                            left: -16px;
                        }
                    }
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 2.6rem;
                        height: 2.6rem;
                        right: 0;
                        bottom: -2.4rem;
                        background-size: 100% auto;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-image: url(/assets/img/right-top.svg);
                        @include desktop() {
                            width: 18px;
                            height: 18px;
                            bottom: -16px;
                        }
                    }
                }
            }
            .img_responsible {
                display: block;
                width: 100%;
                max-width: 32.2rem;
                // object-fit: cover;
                position: absolute;
                top: 16.4rem;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                @include bdesktop() {
                    max-width: 24.4rem;
                    top: 14.2rem;
                }
                @include desktop() {
                    max-width: 18rem;
                    top: 10.3rem;
                }
                @include tablets() {
                    max-width: 14rem;
                    top: 8.3rem;
                }
                @include mobile() {
                    width: auto;
                    height: 14rem;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    margin-top: -5px;
                }
            }
            .text_responsible {
                position: absolute;
                bottom: 4rem;
                left: 4rem;
                font-size: 2.6rem;
                line-height: 1.46;
                letter-spacing: -0.8px;
                max-width: 34rem;
                color: $colorWhite;
                // word-break: keep-all;
                @include bdesktop() {
                    max-width: 33rem;
                }
                @include desktop() {
                    bottom: 24px;
                    left: 24px;
                    font-size: 17px;
                    line-height: 1.52;
                    letter-spacing: -0.2px;
                    max-width: 20.2rem;
                }
                @include tablets() {
                    bottom: 15px;
                    left: 15px;
                    max-width: 15.9rem;
                }
                @include mobile() {
                    bottom: 24px;
                    left: 24px;
                    font-size: 16px;
                    max-width: 25rem;
                }
            }
            .btn_area {
                position: absolute;
                right: -2px;
                bottom: -2px;
                padding: 16px 0 0 16px;
                background-color: $colorWhite;
                border-radius: 36px 0 0 0;

                @include bdesktop() {
                    padding: 15px 0 0 15px;
                }
                @include desktop() {
                    padding: 12px 0 0 12px;
                    border-radius: 24px 0 0 0;
                }
                @include tablets() {
                    padding: 9px 0 0 9px;
                }
                @include mobile() {
                    right: 20px;
                    bottom: 20px;
                    padding: 0;
                    background-color: transparent;
                    border-radius: 0;
                }

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 26px;
                    height: 26px;
                    background-size: 100% auto;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-image: url(/assets/img/right-bottom.svg);
                    left: -24px;
                    bottom: 0;
                    @include desktop() {
                        width: 18px;
                        height: 18px;
                        left: -16px;
                    }
                    @include mobile() {
                        display: none;
                    }
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 26px;
                    height: 26px;
                    background-size: 100% auto;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-image: url(/assets/img/right-bottom.svg);
                    right: 0;
                    top: -24px;
                    @include desktop() {
                        width: 18px;
                        height: 18px;
                        top: -16px;
                    }
                    @include mobile() {
                        display: none;
                    }
                }
                &:hover {
                    .btn_arr_big {
                        opacity: 0.7;
                    }
                }

                .btn_arr_big {
                    width: 6.4rem;
                    height: 100%;
                    margin: 0 2px 2px 0;
                    @include bdesktop() {
                        width: 5.5rem;
                    }
                    @include desktop() {
                        width: 4.8rem;
                    }
                    @include mobile() {
                        margin: 0;
                    }
                }
            }
        }

        .esg {
            background-color: $colorSkyBlue;

            .img_responsible {
                max-width: 55.9rem;
                @include bdesktop() {
                    max-width: fit-content;
                }
            }
            .text_responsible {
                color: $colorBlack;
            }
        }
        .green {
            background-color: $colorDarkGreen;
        }
        .policy {
            background-color: $colorGray8;
        }
    }
}

// help
.help-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1.6rem;
    @include tablets() {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 0.8rem;
    }
    @include mobile() {
        gap: 1.6rem;
    }
    //회색박스 공통
    .commons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $colorGrayF3;
        transition: $btnHover;
        .commons_content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // width: 100%;
            height: 100%;

            @include tablets() {
                flex-direction: row;
            }
            @include tablets() {
                flex-direction: column;
            }

            br {
                display: none;
                @include tablets() {
                    display: block;
                }
            }
            .common_name {
                font-size: 2.6rem;
                letter-spacing: -0.6px;

                @include desktop() {
                    font-size: 1.7rem;
                }
            }
        }
        .icon_help {
            width: 8.4rem;
            height: auto;

            @include desktop() {
                width: 6rem;
            }
            @include tablets() {
                display: none;
            }
        }

        &:hover {
            box-shadow: $btnShadow;
        }
    }
    .common_gosite {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.7rem;
        letter-spacing: -0.5px;
        @include desktop() {
            font-size: 1.4rem;
        }

        &:hover {
            svg {
                opacity: 0.7;
            }
        }

        &.direct {
            @include tablets() {
                text-indent: -9999px;
            }
        }
    }
    [class*='col-'] {
        > * {
            height: 100%;
            border-radius: 2rem;
            padding: 3.85rem 4rem;

            @include bdesktop() {
                padding: 3.45rem 4rem;
            }
            @include desktop() {
                padding: 2.4rem;
            }
            @include mobile() {
                padding: 1.6rem;
            }
        }
        .center {
            @include mobile() {
                height: 12.8rem;
            }
        }
    }
    .col-4 {
        grid-column: span 2;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 1.6rem;

        @include tablets() {
            gap: 0.8rem;
            grid-column: span 3;
        }
        @include mobile() {
            grid-column: span 6;
            gap: 1.6rem;
        }
        &.center_wrapper {
            display: grid;
            // gap: 1.6rem;
            @include tablets() {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, auto);
                grid-column: span 6;
            }
        }

        .kakao_subscribe {
            background-image: url(/assets/img/img_ryan.png);
            background-repeat: no-repeat;
            background-size: 264px auto;
            background-position: bottom;
            background-color: $colorPrimary;

            @include tablets() {
                background-image: none;
            }

            .sns_lists {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 4rem;

                @include tablets() {
                    margin-top: 2.4rem;
                }

                &__item {
                    transition: $btnHover;
                    &:hover {
                        a {
                            opacity: 0.8;
                        }
                    }
                    a {
                        display: block;
                        width: 8rem;
                        height: 8rem;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-size: 100%;

                        @include bdesktop() {
                            width: 6rem;
                            height: 6rem;
                        }

                        @include desktop() {
                            width: 4.6rem;
                            height: 4.6rem;
                        }

                        @include tablets() {
                            width: 5.6em;
                            height: 5.6rem;
                        }

                        &.kakao {
                            background-image: url(/assets/img/icon_ch.png);
                        }
                        &.youtube {
                            background-image: url(/assets/img/icon_yt.png);
                        }
                        &.insta {
                            background-image: url(/assets/img/icon_insta.png);
                        }
                        &.facebook {
                            background-image: url(/assets/img/icon_fb.png);
                        }
                        &.linked {
                            background-image: url(/assets/img/icon_li.png);
                        }
                    }
                }
            }
        }
        .kakao_crew {
            color: $colorWhite;
            background-image: url(/assets/img/img_recruit.png);
            background-position: 0 100%;
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-color: $colorAccent;

            @include tablets() {
                background-position: right 16px bottom 16px;
                background-size: 15.4rem 6.8rem;
                background-image: url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/main/img_recruit_mo.png);
            }
            @include mobile() {
                height: 18.4rem;
            }
        }
        > [class*='kakao_'] {
            p {
                margin-bottom: 2.4rem;
                font-size: 2.6rem;
                letter-spacing: -0.6px;
                font-weight: 600;
                @include bdesktop() {
                    margin-bottom: 1.2rem;
                }
                @include desktop() {
                    font-size: 1.7rem;
                }
                @include tablets() {
                    font-size: 1.8rem;
                }
                @include mobile() {
                    font-size: 1.5rem;
                    margin-bottom: 0.8rem;
                }
            }
            span {
                font-size: 1.7rem;
                letter-spacing: -0.5px;
                @include desktop() {
                    font-size: 1.4rem;
                }
            }
        }
    }
    .col-6 {
        grid-column: span 3;

        @include mobile() {
            height: auto;
            grid-column: span 6;
        }
        > a {
            .commons_content {
                // justify-content: flex-start;
                @include tablets() {
                    width: auto;
                    flex-direction: column;
                }

                .common_gosite {
                    @include mobile() {
                        text-indent: -9999px;
                    }
                }
            }

            .icon_help {
                display: block;
            }
        }
    }
}
