footer {
    margin: 0 auto;
    background-color: $colorWhite;
    border-top: 1px solid $colorBlack;

    .inner_footer {
        padding: 8rem 0 4.8rem;

        @include desktop {
            max-width: 95.2rem;
            padding: 3.8rem 0;
        }
        @include tablets() {
            max-width: 71.2rem;
            padding-top: 4rem;
        }
        @include mobile() {
            max-width: 38.4rem;
            padding-left: 1.4rem;
            padding-right: 1.4rem;
        }
    }

    .section_service {
        margin: 0 auto;

        .wrap_service {
            h3 {
                margin-bottom: 2rem;
                font-size: 2.6rem;
                line-height: 1.38;
                letter-spacing: -0.6px;
                font-weight: 600;
                cursor: text;
                @include desktop() {
                    font-size: 1.8rem;
                    line-height: 1.55;
                    letter-spacing: -0.5px;
                }

                @include tablets() {
                    position: static;
                    padding-bottom: 2rem;
                    margin-bottom: 0;
                    font-size: 1.5rem;
                    line-height: 1.6;
                    letter-spacing: -0.5px;
                }
            }

            .board_type {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 4rem;

                @include desktop() {
                    display: block;
                }
                @include tablets() {
                    padding: 0;
                }

                > ul {
                    flex: 1;
                    @include desktop() {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        width: calc(25% - 20px);
                        margin-left: 16px;
                    }
                    @include tablets() {
                        display: block;
                        width: 100%;
                        margin-left: 0;
                    }

                    &.today-list {
                        + .hide-version {
                            @include tablets() {
                                border-top: 1px solid #e6e6e6;
                            }
                        }

                        a {
                            @include tablets() {
                                color: #333;
                            }
                        }
                        @include tablets() {
                            margin-bottom: 4rem;
                        }
                    }
                    > li {
                        margin-top: 0.8rem;
                        > a {
                            &:hover {
                                color: $colorBlack;
                                text-decoration: underline;
                            }
                        }

                        &:first-child {
                            margin-bottom: 1.2rem;
                            @include tablets() {
                                margin: 0;
                            }
                        }
                        strong {
                            position: relative;
                            font-size: 1.6rem;
                            line-height: 1.75;
                            letter-spacing: -0.5px;
                            font-weight: 600;
                            cursor: text;

                            @include desktop() {
                                font-size: 1.4rem;
                                line-height: 1.42;
                            }
                            @include tablets() {
                                cursor: pointer;
                            }

                            &::after {
                                @include tablets() {
                                    content: '';
                                    position: absolute;
                                    width: 14px;
                                    height: 14px;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background-image: url(/assets/img/arrow-down.svg);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    margin-right: 12px;
                                }
                            }
                        }
                        a {
                            font-size: 1.4rem;
                            line-height: 1.78;
                            letter-spacing: -0.2px;
                            color: $colorGray9;

                            @include tablets() {
                            }

                            &.open-blank {
                                position: relative;

                                &::after {
                                    content: '';
                                    width: 1.4rem;
                                    height: 1.4rem;
                                    position: absolute;
                                    right: -1.8rem;
                                    top: 0.2rem;
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-image: url(/assets/img/ico_link.svg);
                                }
                            }
                        }
                    }
                }
                .kakao-group {
                    @include tablets() {
                        display: none;
                        position: absolute;
                        width: 0;
                        height: 0;
                    }
                }

                .hide-version {
                    li {
                        @include tablets() {
                            &:not(:first-child) {
                                display: none;
                                position: absolute;
                                width: 0;
                                height: 0;
                            }
                        }
                        strong {
                            @include tablets() {
                                overflow: hidden;
                                display: block;
                                width: 100%;
                                position: static;
                                font-size: 13px;
                                font-weight: 700;
                                line-height: 1.53;
                                letter-spacing: -0.2px;
                                margin-bottom: 0;
                                padding: 16px 0;
                                text-align: left;
                                border-bottom: 1px solid #e6e6e6;
                            }
                        }
                    }
                }
            }
        }
    }
    .section_relation {
        margin-top: 12rem;
        @include tablets() {
            margin-top: 4.5rem;
        }
        > .group_info {
            float: left;
            @include desktop() {
                max-width: 59.4rem;
            }
            @include tablets() {
                float: none;
                width: 100%;
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            > .wrap_info {
                float: left;
                position: relative;
                line-height: 1.8rem;
                &:not(:first-child) {
                    margin-left: 2rem;
                }
                @include bdesktop() {
                    margin-left: 2rem;
                }
                @include desktop() {
                    margin-top: 6px;
                }
                @include tablets() {
                    width: 50%;
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
                > a {
                    padding-right: 0.8333em;
                    font-size: 1.2rem;

                    color: $colorGray9;

                    &:hover {
                        color: $colorBlack;
                    }
                    &.link_info {
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            right: -0.2em;
                            top: 50%;
                            transform: translateY(-40%);
                            width: 0.9rem;
                            height: 0.9rem;
                            z-index: 10;
                            background-image: url(/assets/img/arrow-down.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &.on {
                            &::after {
                                transform: translateY(-50%) scaleY(-1); // 상하 반전 추가
                            }
                            + .list_subinfo {
                                display: block;
                                height: fit-content;
                                z-index: 10;
                            }
                        }
                    }
                    &.link_emph {
                        color: $colorGray8;
                        // font-weight: 700;
                    }
                }
                > .list_subinfo {
                    display: none;
                    height: 0;
                    position: absolute;
                    bottom: 3rem;
                    left: 0;
                    padding: 1.6rem 0;
                    background: $colorGray1;
                    border-radius: 1.2rem;
                    > li {
                        &:not(:first-child) {
                            margin-top: 1.2rem;
                        }
                        > a {
                            padding: 0 1.6667em;
                            font-size: 1.2rem;
                            color: $colorGray10;
                            white-space: nowrap;
                            &:hover {
                                color: $colorBlack;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        > .wrap_relation {
            float: right;
            position: relative;
            width: 20rem;
            @include tablets() {
                margin-top: 5.8rem;
                width: 29.8rem;
                padding-bottom: 4.8rem;
            }
            @include mobile() {
                float: none;
                width: 100%;
                margin-top: 4.8rem;
                padding: 0;
            }
            > .link_info {
                position: relative;
                display: block;
                padding: 1rem 2rem 1.2rem;
                border-radius: 24px;
                font-size: 1.2rem;
                font-weight: 400;
                color: $colorSemiBlack;
                line-height: 1.5em;
                letter-spacing: -0.2px;
                background: $colorGray1;

                .link_info_plus {
                    display: block;
                    height: 2.4rem;
                    position: absolute;
                    right: 2rem;
                    top: 8px;
                    float: right;
                    transform: rotate(0);
                    transition: transform 0.2s linear;
                }

                &.on {
                    + .sub_info {
                        display: block;
                        height: auto;
                    }

                    .link_info_plus {
                        transform: rotate(-45deg);
                    }
                }
            }
            > .sub_info {
                display: none;
                height: 0;
                width: 100%;
                position: absolute;
                bottom: 5.2rem;
                left: 0;
                padding: 1.6rem 0;
                background: $colorGray1;
                border-radius: 1.2rem;
                z-index: 10;
                @include tablets() {
                    bottom: 10.2rem;
                }
                @include mobile() {
                    bottom: 5.2rem;
                }

                > li {
                    &:not(:first-child) {
                        margin-top: 1.2rem;
                    }
                    &:hover {
                        > a {
                            color: $colorBlack;
                            text-decoration: underline;
                        }
                    }
                    > a {
                        padding: 0 1.6667em;
                        font-size: 1.2rem;
                        color: $colorGray10;
                        white-space: nowrap;
                    }
                }
            }
        }

        small {
            display: block;
            padding-top: 6px;
            font-size: 1.3rem;
            letter-spacing: -0.2px;
            color: $colorGray9;
            clear: both;
            margin-left: 2.4rem;
            @include desktop() {
                margin-left: 2rem;
                padding-top: 1.2rem;
            }
            @include tablets() {
                float: left;
                padding-top: 0;
                margin-top: -3rem;
                margin-left: 0;
                padding-bottom: 4.8rem;
                margin-top: -7.5rem;
            }
            @include mobile() {
                float: none;
                margin-top: 4.8rem;
                padding: 0;
            }
        }
    }
}
