@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/noto-sans-kr-v36-korean-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/noto-sans-kr-v36-korean-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/noto-sans-kr-v36-korean-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-600 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/noto-sans-kr-v36-korean-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/noto-sans-kr-v36-korean-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-800 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/noto-sans-kr-v36-korean-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  z-index: 100;
}
.header.active {
  border: 1px solid #eee;
  z-index: 200;
}
.header > .wrap__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 171.2rem;
  height: 7.2rem;
  margin: 0 auto;
}
@media screen and (max-width: 1902px) {
  .header > .wrap__header {
    max-width: 131.6rem;
  }
}
@media screen and (max-width: 1439px) {
  .header > .wrap__header {
    max-width: 95.2rem;
  }
}
@media (max-width: 1023px) {
  .header > .wrap__header {
    padding: 0;
    max-width: 71.2rem;
  }
}
@media (max-width: 767px) {
  .header > .wrap__header {
    max-width: 41.2rem;
  }
}
.header > .wrap__header .logo {
  width: 7.4rem;
}
.header > .wrap__header .logo > a {
  display: block;
  width: 100%;
}
.header > .wrap__header .gnb .gnb__list {
  display: flex;
  gap: 0;
  align-items: center;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item {
  transition: all linear 0.3s;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item.active .gnb__link {
  opacity: 1;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item.not-active .gnb__link {
  opacity: 0.6;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link {
  display: block;
  padding: 0 4rem;
  line-height: 8.5rem;
  text-align: center;
  font-size: 1.7rem;
}
@media screen and (max-width: 1902px) {
  .header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link {
    padding: 0 3rem;
  }
}
@media (max-width: 1439px) {
  .header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link {
    padding: 0 2rem;
  }
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link > .ico_link {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 38px 0 0 4px;
  vertical-align: top;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' fill='none'%3E%3Cpath d='M1.794 1.074h6.148V7.22m0-6.146L1.378 7.638' stroke='%23000' stroke-width='1.3'/%3E%3C/svg%3E");
}
@media (max-width: 1023px) {
  .header > .wrap__header .gnb {
    display: none;
  }
}
.header > .wrap__header .util__btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header > .wrap__header .util__btns > .util__btn {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}
.header > .wrap__header .util__btns > .util__btn:hover {
  background-color: #eee;
}
@media (max-width: 1023px) {
  .header > .wrap__header .util__btns {
    display: none;
  }
}
.header > .wrap__header .util__btns_mo {
  display: none;
}
@media (max-width: 1023px) {
  .header > .wrap__header .util__btns_mo {
    display: flex;
    gap: 2.2rem;
    align-items: center;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
  color: #000;
}

.cont__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 171.2rem;
}
@media screen and (max-width: 1902px) {
  .cont__wrapper {
    max-width: 131.6rem;
  }
}
@media screen and (max-width: 1439px) {
  .cont__wrapper {
    max-width: 95.2rem;
  }
}
@media (max-width: 1023px) {
  .cont__wrapper {
    padding: 0;
    max-width: 71.2rem;
  }
}
@media (max-width: 767px) {
  .cont__wrapper {
    max-width: 41.2rem;
  }
}

.cont-home {
  display: grid;
  row-gap: 1.6rem;
  grid-template-columns: 142.4rem 27.2rem;
  grid-template-rows: 27.2rem 34rem 16.4rem;
  max-width: 171.2rem;
  margin: 0 auto;
  padding-top: 9.2rem;
  justify-content: space-between;
}
@media screen and (max-width: 1902px) {
  .cont-home {
    max-width: 1316px;
    grid-template-columns: 109.4rem 20.6rem;
    grid-template-rows: 20.6rem 25.9rem 12.4rem;
  }
}
@media (max-width: 1439px) {
  .cont-home {
    max-width: 94.8rem;
    grid-template-columns: 75.5rem 18rem;
    grid-template-rows: 18rem 17rem 12rem;
    row-gap: 0.8rem;
  }
}
@media (max-width: 1023px) {
  .cont-home {
    max-width: 71.2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.cont-home .visual {
  grid-row: 1/4;
}
.cont-home .visual .visual-wrpper {
  position: relative;
}
.cont-home .visual .visual-wrpper .inner-top {
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 2px 27px 11px;
  border-radius: 0 0 0 3.6rem;
  background-color: #fff;
  z-index: 100;
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top {
    border-radius: 0 0 0 2rem;
  }
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-top a {
    width: 8.2rem;
    height: 8.2rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top a {
    width: 6rem;
    height: 6rem;
    border-radius: 0 0 0 2rem;
  }
}
.cont-home .visual .visual-wrpper .inner-top img {
  position: relative;
  display: block;
  margin-top: -5px;
  width: 9.4rem;
  height: 9.4rem;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-top img {
    width: 8.2rem;
    height: 8.2rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top img {
    width: 6rem;
    height: 6rem;
  }
}
.cont-home .visual .visual-wrpper .inner-top::before {
  content: "";
  position: absolute;
  left: -3.6rem;
  top: 0;
  width: 3.8rem;
  height: 3.8rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/img/right-top.svg);
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top::before {
    width: 2.2rem;
    height: 2.2rem;
    left: -2rem;
    background-image: url(/assets/img/right-top-small.svg);
  }
}
.cont-home .visual .visual-wrpper .inner-top::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3.6rem;
  width: 3.8rem;
  height: 3.8rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/img/right-top.svg);
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top::after {
    width: 2.2rem;
    height: 2.2rem;
    bottom: -2rem;
    background-image: url(/assets/img/right-top-small.svg);
  }
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-top {
    padding: 2px 17px 15px;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top {
    padding: 5px 5px 6px 17px;
  }
}
.cont-home .visual .visual-wrpper .info_banner {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  left: -2.2rem;
  top: -5.1rem;
  padding: 0.928em 1.142em;
  border-radius: 1.2rem;
  letter-spacing: -0.2px;
  font-size: 1.4rem;
  line-height: 1.7;
  background-color: #000;
  color: #fff;
  z-index: 1000;
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .info_banner {
    left: -5px;
    top: -31px;
  }
}
.cont-home .visual .visual-wrpper .info_banner::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: -7px;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 12a7.967 7.967 0 01-3.307-6.466V0H0c0 6.627 5.373 12 12 12z' fill='%23000'/%3E%3C/svg%3E");
  background-size: 100%;
}
.cont-home .visual .visual-wrpper .inner-cont {
  position: relative;
  border-radius: 3.6rem;
  overflow: hidden;
  height: 80.8rem;
  border-radius: 3.6rem;
}
.cont-home .visual .visual-wrpper .inner-cont::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-background-color: rgba(0, 0, 0, 0.1);
}
.cont-home .visual .visual-wrpper .inner-cont video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-cont {
    height: 62.1rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-cont {
    height: 48.6rem;
    border-radius: 2rem;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom {
  position: absolute;
  bottom: -2px;
  left: -2px;
  border-radius: 0 3.6rem 0 0;
  background-color: #fff;
  padding: 2.4rem 5.8rem 1.2rem;
  z-index: 10;
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom {
    border-radius: 0 2rem 0 0;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  top: -36px;
  width: 38px;
  height: 38px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/img/left-bottom.svg);
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom::before {
    width: 2.2rem;
    height: 2.2rem;
    top: -2rem;
    background-image: url(/assets/img/left-bottom-small.svg);
  }
}
.cont-home .visual .visual-wrpper .inner-bottom::after {
  content: "";
  position: absolute;
  right: -36px;
  bottom: 0;
  width: 38px;
  height: 38px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/img/left-bottom.svg);
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom::after {
    width: 2.2rem;
    height: 2.2rem;
    right: -2rem;
    background-image: url(/assets/img/left-bottom-small.svg);
  }
}
.cont-home .visual .visual-wrpper .inner-bottom a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2.9em;
  font-size: 2.2rem;
  letter-spacing: -0.6px;
}
.cont-home .visual .visual-wrpper .inner-bottom a span {
  display: flex;
  height: 100%;
  letter-spacing: -0.6px;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-bottom a span {
    line-height: 4.6rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom a span {
    line-height: 2.4rem;
    font-size: 1.5rem;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom a span.screen_out svg {
  width: 6.4rem;
  height: 6.4rem;
  margin-left: 2rem;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-bottom a span.screen_out svg {
    width: 4.8rem;
    height: 4.8rem;
    margin-left: 1.4rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom a span.screen_out svg {
    line-height: 2.4rem;
    font-size: 1.5rem;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 0.8rem;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom a span.screen_out:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-bottom {
    padding: 2.3rem 2.3rem 2.8rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom {
    padding: 2.1rem 3.3rem 1.6rem;
  }
}
.cont-home .widget {
  overflow: hidden;
  border-radius: 2.4rem;
}
@media (max-width: 1439px) {
  .cont-home .widget {
    border-radius: 2rem;
  }
}
.cont-home .widget > .swiper-container {
  position: relative;
  height: 100%;
}
.cont-home .widget .swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  white-space: nowrap;
  bottom: 2.2rem;
}
@media (max-width: 1439px) {
  .cont-home .widget .swiper-pagination {
    bottom: 0.4rem;
  }
}
.cont-home .widget .swiper-pagination .swiper-pagination-bullet {
  content: "";
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #888;
  background-color: #fff;
  opacity: 1;
  margin: 0.8rem;
}
.cont-home .widget .swiper-pagination .swiper-pagination-bullet-active {
  width: 2.4rem;
  background-color: #000;
}
.cont-home .widget .swiper-commons-button {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 3.2rem;
  height: 3.2rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget .swiper-commons-button {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.cont-home .widget .swiper-commons-button::after {
  display: none;
}
.cont-home .widget .swiper-button-prev {
  left: 1rem;
  background-image: url(/assets/img/prev.svg);
}
.cont-home .widget .swiper-button-next {
  right: 1rem;
  background-image: url(/assets/img/next.svg);
}
.cont-home .widget.first {
  grid-row: 1/2;
  background-color: #fae100;
}
.cont-home .widget.first .swiper-wrapper {
  display: table;
  width: 200%;
}
.cont-home .widget.first .swiper-wrapper .swiper-slide {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.cont-home .widget.first .swiper-wrapper .swiper-slide h2 {
  font-size: 1.7rem;
  line-height: 1.58;
  letter-spacing: -0.5px;
}
@media (max-width: 1439px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide h2 {
    font-size: 1.4rem;
  }
}
.cont-home .widget.first .swiper-wrapper .swiper-slide h2 br {
  display: block;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide h2 br {
    display: block;
  }
}
.cont-home .widget.first .swiper-wrapper .swiper-slide strong {
  display: inline-block;
  line-height: 1.44;
  letter-spacing: -0.8px;
  font-weight: 600;
}
.cont-home .widget.first .swiper-wrapper .swiper-slide strong span {
  font-size: 3.6rem;
  line-height: 1.44;
  letter-spacing: -0.8px;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide strong span {
    font-size: 2.6rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide strong span {
    font-size: 1.8rem;
  }
}
.cont-home .widget.first .swiper-wrapper .swiper-slide .text_count {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.1;
}
.cont-home .widget.first .swiper-wrapper .swiper-slide.slide2 {
  background-image: url(/assets/img/kakao-impact.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.cont-home .widget.second {
  grid-row: 2/3;
  background-color: #f3f3f3;
}
.cont-home .widget.second > .swiper-container .swiper-wrapper {
  width: 300%;
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide {
  padding: 2rem;
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide {
    font-size: 1.2rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .badge {
  display: inline-block;
  margin-bottom: 0.857em;
  padding: 0.285em 0.666em;
  border-radius: 8px;
  font-size: 1.4rem;
  line-height: 1.78;
  letter-spacing: -0.2px;
  background-color: #fae100;
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .badge.type2 {
  color: #fff;
  background-color: #000;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .badge {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .badge {
    font-size: 1.2rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide strong {
  display: block;
  font-size: 2.2rem;
  line-height: 1.36;
  letter-spacing: -0.6px;
  color: var(--baseForeground);
  font-weight: 400;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide strong {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 1.8rem;
    line-height: 1.4;
  }
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide strong {
    font-size: 1.4rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container {
  margin-top: 8px;
  margin-left: -8px;
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container {
    display: flex;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container .tag {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  line-height: 1.62;
  letter-spacing: -0.5px;
  color: #666;
  margin-left: 8px;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container .tag {
    font-size: 1.4rem;
    line-height: 1.42;
    letter-spacing: -0.2px;
    word-break: break-all;
  }
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container .tag {
    font-size: 1.4rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #888;
  border: 0;
}
.cont-home .widget.second > .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  width: 24px;
  background-color: #000;
}
.cont-home .widget.third {
  grid-row: 3/4;
}
.cont-home .widget.third .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont-home .widget.third .swiper-wrapper .swiper-slide:first-child {
  background-color: #fae100;
}
.cont-home .widget.third .swiper-wrapper .swiper-slide:last-child {
  background-color: rgba(0, 0, 0, 0.2);
}
.cont-home .widget.third .swiper-wrapper .swiper-slide img {
  display: block !important;
  margin-bottom: 4px;
  width: 8rem;
  height: 8rem;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.third .swiper-wrapper .swiper-slide img {
    width: 4rem;
    height: 4rem;
  }
}
.cont-home .widget.third .swiper-wrapper .swiper-slide span {
  position: relative;
  display: block;
  font-size: 2.2rem;
  line-height: 1.36;
  letter-spacing: -0.6px;
  text-align: center;
}
@media (max-width: 1439px) {
  .cont-home .widget.third .swiper-wrapper .swiper-slide span {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: -0.2px;
  }
}
.cont-home .widget.third .swiper-wrapper .history {
  position: relative;
  background-image: url(/assets/img/history.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 2.2rem;
  line-height: 1.36;
  letter-spacing: -0.6px;
  color: #fff;
  font-weight: 500;
}
.cont-home .widget.third .swiper-wrapper .history::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.cont-home .widget.third .swiper-wrapper .history span {
  position: relative;
  display: block;
  z-index: 10;
}

.cont-main {
  margin-top: 20rem;
}
@media (max-width: 1902px) {
  .cont-main {
    margin-top: 12rem;
  }
}
@media (max-width: 1439px) {
  .cont-main {
    margin-top: 8rem;
  }
}
.cont-main .cont-main_title {
  position: relative;
  font-size: 5.2rem;
  line-height: 7.8rem;
  letter-spacing: -1px;
}
.cont-main .cont-main_title::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7.8rem;
  height: 7.8rem;
  margin-right: 0.384em;
  background-size: 100%;
  background-image: url(/assets/img/ico_archives.gif);
}
@media (max-width: 1902px) {
  .cont-main .cont-main_title {
    font-size: 4.8rem;
    line-height: 7.2rem;
  }
}
@media (max-width: 1439px) {
  .cont-main .cont-main_title {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
}