@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/noto-sans-kr-v36-korean-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/noto-sans-kr-v36-korean-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/noto-sans-kr-v36-korean-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-600 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/noto-sans-kr-v36-korean-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/noto-sans-kr-v36-korean-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-800 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/noto-sans-kr-v36-korean-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

.sr-only {
  display: block;
  text-indent: -9999px;
  width: 0;
  height: 0;
}

section:not(.cont-home) {
  margin-top: 20rem;
}
@media (max-width: 1902px) {
  section:not(.cont-home) {
    margin-top: 12rem;
  }
}
@media (max-width: 1439px) {
  section:not(.cont-home) {
    margin-top: 8rem;
  }
}

.cont__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 171.2rem;
}
@media screen and (max-width: 1902px) {
  .cont__wrapper {
    max-width: 131.6rem;
  }
}
@media screen and (max-width: 1439px) {
  .cont__wrapper {
    max-width: 94.8rem;
  }
}
@media (max-width: 1023px) {
  .cont__wrapper {
    padding: 0;
    max-width: 71.2rem;
  }
}
@media (max-width: 767px) {
  .cont__wrapper {
    max-width: 38.4rem;
  }
}

.cont__title {
  position: relative;
  font-size: 2.71vw;
  letter-spacing: -1px;
  word-break: keep-all;
  margin-bottom: 4.3rem;
}
@media (max-width: 1439px) {
  .cont__title {
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 767px) {
  .cont__title {
    font-size: 2.6rem;
  }
}
.cont__title::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4.06vw;
  height: 4.06vw;
  margin-right: 0.384em;
  background-size: 100%;
}
@media (max-width: 767px) {
  .cont__title::before {
    display: none;
  }
}
.cont__title.type-story::before {
  background-image: url(/assets/img/ico_tit_archives.gif);
}
.cont__title.type-service::before {
  background-image: url(/assets/img/ico_tit_service.gif);
}
.cont__title.type-news::before {
  background-image: url(/assets/img/ico_tit_date.gif);
}
.cont__title.type-promise::before {
  background-image: url(/assets/img/ico_tit_esg.gif);
}
.cont__title.type-help::before {
  background-image: url(/assets/img/ico_tit_help.gif);
}

.swiper-slide {
  overflow: hidden;
  border-radius: 2.4rem;
}

.wrap_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.6rem;
  height: 7.6rem;
  margin: 3.6rem auto 0;
  font-size: 2.2rem;
  background-color: #f3f3f3;
  border-radius: 3.8rem;
  transition: all ease 0.2s;
}
@media (max-width: 1439px) {
  .wrap_btn {
    width: 28rem;
    height: 6rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1023px) {
  .wrap_btn {
    margin-top: 2.4rem;
  }
}
@media (max-width: 767px) {
  .wrap_btn {
    width: 100%;
    height: 4.8rem;
    border-radius: 2.4rem;
    margin-top: 1.2rem;
  }
}
.wrap_btn:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wrap_btn span {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1.2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  z-index: 100;
  border: 1px solid #fff;
}
.header.active {
  border: 1px solid #eee;
  z-index: 200;
}
.header > .wrap__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 171.2rem;
  height: 7.2rem;
  margin: 0 auto;
}
@media screen and (max-width: 1902px) {
  .header > .wrap__header {
    max-width: 131.6rem;
  }
}
@media screen and (max-width: 1439px) {
  .header > .wrap__header {
    max-width: 95.2rem;
  }
}
@media (max-width: 1023px) {
  .header > .wrap__header {
    padding: 0;
    max-width: 71.2rem;
  }
}
@media (max-width: 767px) {
  .header > .wrap__header {
    max-width: 41.2rem;
  }
}
.header > .wrap__header .logo {
  width: 7.4rem;
}
.header > .wrap__header .logo > a {
  display: block;
  width: 100%;
  max-height: 7.4rem;
}
.header > .wrap__header .logo > a img {
  -o-object-fit: cover;
     object-fit: cover;
}
.header > .wrap__header .gnb .gnb__list {
  display: flex;
  gap: 0;
  align-items: center;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item {
  transition: all ease 0.3s;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item.active .gnb__link {
  opacity: 1;
  border-bottom: 1.5px solid #333;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item.not-active .gnb__link {
  opacity: 0.4;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link {
  display: block;
  height: 100%;
  max-height: 7.4rem;
  padding: 0 4rem;
  line-height: 8.5rem;
  text-align: center;
  font-size: 1.7rem;
  border-bottom: 1px solid transparent;
}
@media screen and (max-width: 1902px) {
  .header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link {
    padding: 0 3rem;
  }
}
@media (max-width: 1439px) {
  .header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link {
    padding: 0 2rem;
  }
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link > .ico_link {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 38px 0 0 4px;
  vertical-align: top;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' fill='none'%3E%3Cpath d='M1.794 1.074h6.148V7.22m0-6.146L1.378 7.638' stroke='%23000' stroke-width='1.3'/%3E%3C/svg%3E");
}
@media (max-width: 1023px) {
  .header > .wrap__header .gnb {
    display: none;
  }
}
.header > .wrap__header .util__btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header > .wrap__header .util__btns > .util__btn {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}
.header > .wrap__header .util__btns > .util__btn:hover {
  background-color: #eee;
}
@media (max-width: 1023px) {
  .header > .wrap__header .util__btns {
    display: none;
  }
}
.header > .wrap__header .util__btns_mo {
  display: none;
}
@media (max-width: 1023px) {
  .header > .wrap__header .util__btns_mo {
    display: flex;
    gap: 2.2rem;
    align-items: center;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
  color: #000;
}

.cont-home {
  display: grid;
  row-gap: 1.6rem;
  grid-template-columns: 142.4rem 27.2rem;
  grid-template-rows: 27.2rem 34rem 16.4rem;
  max-width: 171.2rem;
  margin: 0 auto;
  padding-top: 9.2rem;
  justify-content: space-between;
}
@media screen and (max-width: 1902px) {
  .cont-home {
    max-width: 1316px;
    grid-template-columns: 109.4rem 20.6rem;
    grid-template-rows: 20.6rem 25.9rem 12.4rem;
  }
}
@media (max-width: 1439px) {
  .cont-home {
    max-width: 94.8rem;
    grid-template-columns: 75.5rem 18rem;
    grid-template-rows: 18rem 17rem 12rem;
    row-gap: 0.8rem;
  }
}
@media (max-width: 1023px) {
  .cont-home {
    max-width: 71.2rem;
    padding-top: 7.2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 41rem 23.2rem;
    row-gap: 2rem;
    -moz-column-gap: 0.8rem;
         column-gap: 0.8rem;
  }
}
@media (max-width: 767px) {
  .cont-home {
    max-width: 38.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}
.cont-home .visual {
  grid-row: 1/4;
}
@media (max-width: 1023px) {
  .cont-home .visual {
    grid-row: 1/2;
    grid-column: 1/4;
  }
}
@media (max-width: 767px) {
  .cont-home .visual {
    grid-row: auto;
    grid-column: auto;
  }
}
@media (max-width: 767px) {
  .cont-home .visual {
    margin-bottom: 3rem;
  }
}
.cont-home .visual .visual-wrpper {
  position: relative;
}
.cont-home .visual .visual-wrpper .inner-top {
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 2px 27px 11px;
  border-radius: 0 0 0 3.6rem;
  background-color: #fff;
  z-index: 100;
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top {
    border-radius: 0 0 0 2rem;
  }
}
@media (max-width: 1023px) {
  .cont-home .visual .visual-wrpper .inner-top {
    padding: 5px 0 5px 0;
  }
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-top a.tooltip {
    width: 8.2rem;
    height: 8.2rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top a.tooltip {
    width: 6rem;
    height: 6rem;
    border-radius: 0 0 0 2rem;
  }
}
@media (max-width: 1023px) {
  .cont-home .visual .visual-wrpper .inner-top a.tooltip {
    position: static;
    padding: 5px 0 5px 11px;
  }
}
.cont-home .visual .visual-wrpper .inner-top a.tooltip img {
  position: relative;
  display: block;
  margin-top: -5px;
  width: 9.4rem;
  height: 9.4rem;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-top a.tooltip img {
    width: 8.2rem;
    height: 8.2rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top a.tooltip img {
    width: 6rem;
    height: 6rem;
  }
}
@media (max-width: 1023px) {
  .cont-home .visual .visual-wrpper .inner-top a.tooltip img {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    position: static;
  }
}
.cont-home .visual .visual-wrpper .inner-top::before {
  content: "";
  position: absolute;
  left: -3.6rem;
  top: 0;
  width: 3.8rem;
  height: 3.8rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/img/right-top.svg);
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top::before {
    width: 2.2rem;
    height: 2.2rem;
    left: -2rem;
    background-image: url(/assets/img/right-top-small.svg);
  }
}
.cont-home .visual .visual-wrpper .inner-top::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3.6rem;
  width: 3.8rem;
  height: 3.8rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/img/right-top.svg);
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-top::after {
    width: 2.2rem;
    height: 2.2rem;
    bottom: -2rem;
    background-image: url(/assets/img/right-top-small.svg);
  }
}
.cont-home .visual .visual-wrpper .info_banner {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  left: -2.2rem;
  top: -5.1rem;
  padding: 0.928em 1.142em;
  border-radius: 1.2rem;
  letter-spacing: -0.2px;
  font-size: 1.4rem;
  line-height: 1.7;
  background-color: #000;
  color: #fff;
  z-index: 1000;
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .info_banner {
    left: -5px;
    top: -31px;
  }
}
@media (max-width: 1023px) {
  .cont-home .visual .visual-wrpper .info_banner {
    display: inline-block !important;
    position: relative;
    vertical-align: top;
    left: auto;
    top: auto;
    padding: 9px 16px;
  }
}
.cont-home .visual .visual-wrpper .info_banner::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: -7px;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 12a7.967 7.967 0 01-3.307-6.466V0H0c0 6.627 5.373 12 12 12z' fill='%23000'/%3E%3C/svg%3E");
  background-size: 100%;
}
@media (max-width: 1023px) {
  .cont-home .visual .visual-wrpper .info_banner::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 13a6.64 6.64 0 01-2.756-5.388V0L0 3c0 5.523 4.477 10 10 10z' fill='%23000'/%3E%3C/svg%3E");
    width: 10.5px;
    height: 13px;
    left: auto;
    right: -2.5px;
    bottom: 1px;
  }
}
.cont-home .visual .visual-wrpper .inner-cont {
  position: relative;
  border-radius: 3.6rem;
  overflow: hidden;
  height: 80.8rem;
  border-radius: 3.6rem;
}
.cont-home .visual .visual-wrpper .inner-cont::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-background-color: rgba(0, 0, 0, 0.1);
}
.cont-home .visual .visual-wrpper .inner-cont video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-cont {
    height: 62.1rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-cont {
    height: 48.6rem;
    border-radius: 2rem;
  }
}
@media (max-width: 1023px) {
  .cont-home .visual .visual-wrpper .inner-cont {
    height: 40.5rem;
    border-radius: 2rem;
  }
}
@media (max-width: 767px) {
  .cont-home .visual .visual-wrpper .inner-cont {
    height: 24.9rem;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom {
  position: absolute;
  bottom: -2px;
  left: -2px;
  border-radius: 0 3.6rem 0 0;
  background-color: #fff;
  padding: 2.4rem 5.8rem 1.2rem;
  z-index: 10;
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom {
    border-radius: 0 2rem 0 0;
  }
}
@media (max-width: 767px) {
  .cont-home .visual .visual-wrpper .inner-bottom {
    width: 100%;
    border-radius: 0;
    padding: 0;
    position: static;
    margin-top: 1rem;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  top: -36px;
  width: 38px;
  height: 38px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/img/left-bottom.svg);
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom::before {
    width: 2.2rem;
    height: 2.2rem;
    top: -2rem;
    background-image: url(/assets/img/left-bottom-small.svg);
  }
}
@media (max-width: 767px) {
  .cont-home .visual .visual-wrpper .inner-bottom::before {
    display: none;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom::after {
  content: "";
  position: absolute;
  right: -36px;
  bottom: 0;
  width: 38px;
  height: 38px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(/assets/img/left-bottom.svg);
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom::after {
    width: 2.2rem;
    height: 2.2rem;
    right: -2rem;
    background-image: url(/assets/img/left-bottom-small.svg);
  }
}
@media (max-width: 767px) {
  .cont-home .visual .visual-wrpper .inner-bottom::after {
    display: none;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2.9em;
  font-size: 2.2rem;
  letter-spacing: -0.6px;
  transition: all ease 0.2s;
}
@media (max-width: 767px) {
  .cont-home .visual .visual-wrpper .inner-bottom a {
    justify-content: center;
    height: 4.8rem;
    border-radius: 3.6rem;
    background-color: #f3f3f3;
  }
}
@media (max-width: 767px) {
  .cont-home .visual .visual-wrpper .inner-bottom a:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom a span {
  display: flex;
  height: 100%;
  letter-spacing: -0.6px;
  align-items: center;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-bottom a span {
    line-height: 4.6rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom a span {
    line-height: 2.4rem;
    font-size: 1.5rem;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom a span.screen_out svg {
  width: 6.4rem;
  height: 100%;
  margin-left: 2rem;
}
@media screen and (max-width: 1902px) {
  .cont-home .visual .visual-wrpper .inner-bottom a span.screen_out svg {
    width: 4.8rem;
    margin-left: 1.4rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .visual .visual-wrpper .inner-bottom a span.screen_out svg {
    line-height: 2.4rem;
    font-size: 1.5rem;
    width: 2.4rem;
    margin-left: 0.8rem;
  }
}
.cont-home .visual .visual-wrpper .inner-bottom a span.screen_out:hover {
  opacity: 0.7;
}
.cont-home .widget {
  overflow: hidden;
}
@media (max-width: 1439px) {
  .cont-home .widget {
    border-radius: 2rem;
  }
}
@media (max-width: 1023px) {
  .cont-home .widget {
    grid-row: 2/3;
  }
}
@media (max-width: 767px) {
  .cont-home .widget {
    grid-row: auto;
  }
}
.cont-home .widget > .swiper-container {
  position: relative;
  height: 100%;
}
.cont-home .widget .swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 2.2rem;
}
@media (max-width: 1439px) {
  .cont-home .widget .swiper-pagination {
    bottom: 0.4rem;
  }
}
.cont-home .widget .swiper-pagination .swiper-pagination-bullet {
  content: "";
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #888;
  background-color: #fff;
  opacity: 1;
  margin: 0.8rem;
}
.cont-home .widget .swiper-pagination .swiper-pagination-bullet-active {
  width: 2.4rem;
  background-color: #000;
}
.cont-home .widget .swiper-commons-button {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 3.2rem;
  height: 3.2rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget .swiper-commons-button {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.cont-home .widget .swiper-commons-button::after {
  display: none;
}
.cont-home .widget .swiper-button-prev {
  left: 1rem;
  background-image: url(/assets/img/prev.svg);
}
.cont-home .widget .swiper-button-next {
  right: 1rem;
  background-image: url(/assets/img/next.svg);
}
.cont-home .widget.first {
  grid-row: 1/2;
}
@media (max-width: 1023px) {
  .cont-home .widget.first {
    grid-row: auto;
  }
}
@media (max-width: 767px) {
  .cont-home .widget.first .swiper-container {
    padding-top: 4.2rem;
  }
}
.cont-home .widget.first .swiper-wrapper {
  display: table;
  width: 200%;
}
.cont-home .widget.first .swiper-wrapper .swiper-slide {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: #fae100;
}
@media (max-width: 767px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide {
    height: 22rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.cont-home .widget.first .swiper-wrapper .swiper-slide h2 {
  font-size: 1.7rem;
  line-height: 1.58;
  letter-spacing: -0.5px;
}
@media (max-width: 1439px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide h2 {
    font-size: 1.4rem;
  }
}
.cont-home .widget.first .swiper-wrapper .swiper-slide h2 br {
  display: block;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide h2 br {
    display: block;
  }
}
@media (max-width: 767px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide h2 br {
    display: none;
  }
}
.cont-home .widget.first .swiper-wrapper .swiper-slide strong {
  display: inline-block;
  line-height: 1.44;
  letter-spacing: -0.8px;
  font-weight: 600;
}
.cont-home .widget.first .swiper-wrapper .swiper-slide strong span {
  font-size: 3.6rem;
  line-height: 1.44;
  letter-spacing: -0.8px;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide strong span {
    font-size: 2.6rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide strong span {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .cont-home .widget.first .swiper-wrapper .swiper-slide strong span {
    font-size: 3.6rem;
  }
}
.cont-home .widget.first .swiper-wrapper .swiper-slide .text_count {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.1;
}
.cont-home .widget.first .swiper-wrapper .swiper-slide.slide2 {
  background-image: url(/assets/img/kakao-impact.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 767px) {
  .cont-home .widget.first .swiper-pagination {
    top: 0;
    left: 8.4rem;
    height: 3.2rem;
    margin-left: 1rem;
  }
}
.cont-home .widget.first .swiper-pagination span {
  font-size: 1.2rem;
  color: #888;
  display: inline-block;
  padding: 0 3px;
}
.cont-home .widget.first .swiper-commons-button {
  display: none;
}
@media (max-width: 767px) {
  .cont-home .widget.first .swiper-commons-button {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    top: 1rem;
  }
}
.cont-home .widget.first .swiper-commons-button.swiper-button-prev {
  left: 0;
  background-image: url(/assets/img/prev_m_ico.svg);
}
.cont-home .widget.first .swiper-commons-button.swiper-button-next {
  left: 3.8rem;
  background-image: url(/assets/img/next_m_ico.svg);
}
.cont-home .widget.second {
  grid-row: 2/3;
}
@media (max-width: 1023px) {
  .cont-home .widget.second {
    grid-row: auto;
  }
}
@media (max-width: 767px) {
  .cont-home .widget.second {
    height: 18rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper {
  width: 300%;
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide {
  padding: 2rem;
  background-color: #f3f3f3;
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide {
    font-size: 1.2rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .badge {
  display: inline-block;
  margin-bottom: 0.857em;
  padding: 0.285em 0.666em;
  border-radius: 8px;
  font-size: 1.4rem;
  line-height: 1.78;
  letter-spacing: -0.2px;
  background-color: #fae100;
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .badge.type2 {
  color: #fff;
  background-color: #000;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .badge {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .badge {
    font-size: 1.2rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide strong {
  display: block;
  font-size: 2.2rem;
  line-height: 1.36;
  letter-spacing: -0.6px;
  color: var(--baseForeground);
  font-weight: 400;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide strong {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 1.8rem;
    line-height: 1.4;
  }
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide strong {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide strong {
    font-size: 1.6rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container {
  margin-top: 8px;
  margin-left: -8px;
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container {
    display: flex;
  }
}
.cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container .tag {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  line-height: 1.62;
  letter-spacing: -0.5px;
  color: #666;
  margin-left: 8px;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container .tag {
    font-size: 1.4rem;
    line-height: 1.42;
    letter-spacing: -0.2px;
    word-break: break-all;
  }
}
@media (max-width: 1439px) {
  .cont-home .widget.second > .swiper-container .swiper-wrapper .swiper-slide .tag-container .tag {
    font-size: 1.4rem;
  }
}
.cont-home .widget.second > .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #888;
  border: 0;
}
.cont-home .widget.second > .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  width: 24px;
  background-color: #000;
}
.cont-home .widget.third {
  grid-row: 3/4;
}
@media (max-width: 1023px) {
  .cont-home .widget.third {
    grid-row: auto;
  }
}
.cont-home .widget.third .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .cont-home .widget.third .swiper-wrapper .swiper-slide {
    height: 22rem;
  }
}
.cont-home .widget.third .swiper-wrapper .swiper-slide b img {
  display: block !important;
  margin-bottom: 4px;
  width: 8rem;
  height: 8rem;
}
@media screen and (max-width: 1902px) {
  .cont-home .widget.third .swiper-wrapper .swiper-slide b img {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width: 767px) {
  .cont-home .widget.third .swiper-wrapper .swiper-slide b img {
    width: 8rem;
    height: 8rem;
  }
}
.cont-home .widget.third .swiper-wrapper .swiper-slide span {
  position: relative;
  display: block;
  font-size: 2.2rem;
  line-height: 1.36;
  letter-spacing: -0.6px;
  text-align: center;
}
@media (max-width: 1439px) {
  .cont-home .widget.third .swiper-wrapper .swiper-slide span {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: -0.2px;
  }
}
.cont-home .widget.third .swiper-wrapper .history {
  position: relative;
  background-image: url(/assets/img/history.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 2.2rem;
  line-height: 1.36;
  letter-spacing: -0.6px;
  color: #fff;
  font-weight: 500;
}
.cont-home .widget.third .swiper-wrapper .history::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.cont-home .widget.third .swiper-wrapper .history span {
  position: relative;
  display: block;
  z-index: 10;
}

.cont-story {
  overflow: hidden;
}
.cont-story .type-story {
  display: flex;
  align-items: center;
}
.cont-story .type-story .btn_story {
  width: 5.6rem;
  height: 5.6rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-left: auto;
  margin-right: 0;
}
@media (max-width: 1439px) {
  .cont-story .type-story .btn_story {
    width: 3.2rem;
    height: 3.2rem;
  }
}
@media (max-width: 767px) {
  .cont-story .type-story .btn_story {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.cont-story .type-story .btn_story.pause {
  background-image: url(/assets/img/ico_pause.svg);
}
.cont-story .type-story .btn_story.play {
  background-image: url(/assets/img/ico_play.svg);
}

.cont-story__list {
  display: flex;
  white-space: nowrap;
  gap: 1.6rem;
}
@media (max-width: 1439px) {
  .cont-story__list {
    gap: 1.2rem;
  }
}
.cont-story__list-item > .item_normal_card {
  border-radius: 2.4rem;
  background-color: #f3f3f3;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}
@media (max-width: 1023px) {
  .cont-story__list-item > .item_normal_card {
    border-radius: 1.6rem;
  }
}
.cont-story__list-item > .item_normal_card > .wrap_cont {
  display: flex;
  justify-content: space-between;
  height: 53.7rem;
}
@media (max-width: 1902px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont {
    height: 43.9rem;
  }
}
@media (max-width: 1439px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont {
    height: 36.5rem;
  }
}
@media (max-width: 1023px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont {
    height: 32.8rem;
  }
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text {
  display: flex;
  flex-direction: column;
  width: 41.6rem;
  padding: 4rem;
}
@media (max-width: 1902px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text {
    width: 33.2rem;
    padding: 3rem;
  }
}
@media (max-width: 1439px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text {
    width: 100%;
    padding: 2.4rem;
  }
}
@media (max-width: 1023px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text {
    padding: 2rem;
  }
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_cate {
  display: flex;
  justify-content: space-between;
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_cate .info_cate__tit {
  display: flex;
  align-items: center;
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_cate .info_cate__tit img {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 8px;
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_cate .info_cate__tit .text_cate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3.2rem;
  padding: 0 12px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1.4rem;
  letter-spacing: -0.2px;
}
@media (max-width: 1439px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_cate .info_cate__tit .text_cate {
    font-size: 1.2rem;
    height: 2.6rem;
  }
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_cate .share_btn {
  width: 2.4rem;
  height: 2.4rem;
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text > .tit_card {
  display: block;
  font-weight: 600;
  margin-top: 1.6rem;
  font-size: 2.6rem;
  letter-spacing: -0.8px;
  -webkit-line-clamp: 3;
}
@media (max-width: 1439px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text > .tit_card {
    font-size: 1.8rem;
    -webkit-line-clamp: 2;
  }
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text > .desc_card {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  -webkit-line-clamp: 7;
  color: #666;
}
@media (max-width: 1439px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text > .desc_card {
    display: none;
  }
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_card {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: #666;
  margin-top: auto;
}
@media (max-width: 1439px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_card {
    font-size: 1.3rem;
  }
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_card .removed {
  display: block;
}
@media (max-width: 1439px) {
  .cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_text .info_card .removed {
    display: none;
  }
}
.cont-story__list-item > .item_normal_card > .wrap_cont > .wrap_thumb {
  height: 100%;
}
.cont-story__list-item.type_wide {
  width: 137rem;
}
@media (max-width: 1902px) {
  .cont-story__list-item.type_wide {
    width: 111rem;
  }
}
.cont-story__list-item.type_wide > .wrap_text {
  width: 41.6rem;
}
.cont-story__list-item.type_normal {
  width: 41.6rem;
}
@media (max-width: 1902px) {
  .cont-story__list-item.type_normal {
    width: 31.7rem;
  }
}
@media (max-width: 1439px) {
  .cont-story__list-item.type_normal {
    width: 30.8rem;
  }
}
@media (max-width: 1023px) {
  .cont-story__list-item.type_normal {
    width: 23.2rem;
  }
}
@media (max-width: 767px) {
  .cont-story__list-item.type_normal {
    width: 25.2rem;
  }
}
.cont-story__list-item.type_normal .wrap_cont {
  flex-direction: column;
}
.cont-story__list-item.type_normal .wrap_cont.reverse {
  flex-direction: column-reverse;
}
@media (max-width: 1023px) {
  .cont-story__list-item.type_normal .wrap_cont.reverse {
    flex-direction: column;
  }
}
.cont-story__list-item.type_normal .wrap_cont .wrap_text {
  height: calc(100% - 23.4rem);
}
@media (max-width: 1902px) {
  .cont-story__list-item.type_normal .wrap_cont .wrap_text {
    height: calc(100% - 17.9rem);
  }
}
@media (max-width: 1439px) {
  .cont-story__list-item.type_normal .wrap_cont .wrap_text {
    height: calc(100% - 17.4rem);
  }
}
@media (max-width: 1023px) {
  .cont-story__list-item.type_normal .wrap_cont .wrap_text {
    height: calc(100% - 13rem);
  }
}
@media (max-width: 767px) {
  .cont-story__list-item.type_normal .wrap_cont .wrap_text {
    height: auto;
  }
}
.cont-story__list-item.type_normal .wrap_cont .wrap_thumb {
  height: auto;
}
.cont-story__list-item.type_normal .wrap_cont .wrap_thumb img {
  width: 100%;
  height: 23.4rem;
}
@media (max-width: 1902px) {
  .cont-story__list-item.type_normal .wrap_cont .wrap_thumb img {
    height: 17.9rem;
  }
}
@media (max-width: 1439px) {
  .cont-story__list-item.type_normal .wrap_cont .wrap_thumb img {
    height: 17.4rem;
  }
}
@media (max-width: 1023px) {
  .cont-story__list-item.type_normal .wrap_cont .wrap_thumb img {
    height: 13rem;
  }
}
@media (max-width: 767px) {
  .cont-story__list-item.type_normal .wrap_cont .wrap_thumb img {
    height: auto;
  }
}

.cont-service__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 1.6rem;
}
@media (max-width: 767px) {
  .cont-service__list {
    gap: 1.2rem;
  }
}
.cont-service__list > .cont-service__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.07em;
  font-size: 3rem;
  background-color: #f3f3f3;
  border-radius: 2.4rem;
}
@media (max-width: 1439px) {
  .cont-service__list > .cont-service__list-item {
    font-size: 1.8rem;
  }
}
@media (max-width: 1023px) {
  .cont-service__list > .cont-service__list-item {
    padding: 1.777em 1.333em;
    border-radius: 1.6rem;
  }
}
@media (max-width: 767px) {
  .cont-service__list > .cont-service__list-item {
    font-size: 1.6rem;
    flex-direction: column;
    padding: 1.25em;
    align-items: flex-start;
    gap: 1em;
  }
}
.cont-service__list > .cont-service__list-item strong {
  letter-spacing: -0.8px;
  font-weight: 600;
}
.cont-service__list > .cont-service__list-item .item__services {
  display: flex;
  gap: 0.4em;
}
.cont-service__list > .cont-service__list-item .item__services > .service {
  display: block;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 1.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all ease 0.2s;
}
@media (max-width: 1439px) {
  .cont-service__list > .cont-service__list-item .item__services > .service {
    width: 4.6rem;
    height: 4.6rem;
  }
}
.cont-service__list > .cont-service__list-item .item__services > .service:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakao {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/cc08d9e2018e00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.daum {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9425290018c00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.story {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c942653a018c00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.channel {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9468d8a018c00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.cloud {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9469d4a018c00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.agit {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c946aa55018c00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoMap {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c947f606018c00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoT {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94804d8018c00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoBank {
  background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9481249018c00001.png);
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoGift {
  background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94a2627018c00001.png");
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoShop {
  background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94a89d4018c00001.png");
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoZigzag {
  background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94a96f9018c00001.png");
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoPage {
  background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94b668f018c00001.png");
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoPiccoma {
  background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94b7687018c00001.png");
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoMelon {
  background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94b83e3018c00001.png");
}
.cont-service__list > .cont-service__list-item .item__services > .service.kakaoTogether {
  background-image: url("https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c94c09cc018c00001.png");
}
.cont-service__list > .cont-service__list-item .item__services > .service.link {
  background-image: url(/assets/img/ico_more.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2.4rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.cont-service__list > .cont-service__list-item .item__services > .service.link:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
@media (max-width: 1023px) {
  .cont-service__list > .cont-service__list-item .item__services > .last {
    display: none;
  }
}

.cont-promise__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
@media (max-width: 1439px) {
  .cont-promise__list {
    gap: 1.2rem;
  }
}
@media (max-width: 1023px) {
  .cont-promise__list {
    gap: 0.8rem;
  }
}
@media (max-width: 767px) {
  .cont-promise__list {
    display: block;
  }
}
.cont-promise__list-item {
  flex: 1;
  position: relative;
  height: 66.9rem;
  border-radius: 2.4rem;
}
@media (max-width: 1902px) {
  .cont-promise__list-item {
    height: 55.9rem;
  }
}
@media (max-width: 1439px) {
  .cont-promise__list-item {
    height: 39.7rem;
  }
}
@media (max-width: 1023px) {
  .cont-promise__list-item {
    height: 34.1rem;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item {
    margin-top: 1.6rem;
    height: 29.6rem;
  }
}
.cont-promise__list-item .title_responsible {
  position: absolute;
  right: -2px;
  top: -2px;
  padding: 0.117em 0.117em 1.062em 1.062em;
  background-color: #fff;
  border-radius: 0 0 0 3.6rem;
  font-size: 1.7rem;
}
@media (max-width: 1902px) {
  .cont-promise__list-item .title_responsible {
    padding: 0.117em 0.117em 0.882em 0.882em;
    border-radius: 0 0 0 2.4rem;
  }
}
@media (max-width: 1439px) {
  .cont-promise__list-item .title_responsible {
    font-size: 1.4rem;
    border-radius: 0 0 0 2rem;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item .title_responsible {
    padding: 0 0 0.846em 0.846em;
    font-size: 1.3rem;
  }
}
.cont-promise__list-item .title_responsible .name_reponsible {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.2rem;
  height: 5.8rem;
  margin: 2px 2px 0 0;
  text-align: center;
  border-radius: 2.9rem;
  letter-spacing: -0.5px;
}
@media (max-width: 1902px) {
  .cont-promise__list-item .title_responsible .name_reponsible {
    width: 20.5rem;
    height: 5rem;
    border-radius: 2.5rem;
  }
}
@media (max-width: 1439px) {
  .cont-promise__list-item .title_responsible .name_reponsible {
    width: 16.8rem;
    height: 4rem;
    border-radius: 2rem;
  }
}
@media (max-width: 1023px) {
  .cont-promise__list-item .title_responsible .name_reponsible {
    width: 12.5rem;
    height: 3.2rem;
    border-radius: 1.6rem;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item .title_responsible .name_reponsible {
    width: 18.6rem;
    height: 4rem;
    border-radius: 20px;
  }
}
.cont-promise__list-item .title_responsible .name_reponsible.bg-esg {
  background-color: #89dcff;
}
.cont-promise__list-item .title_responsible .name_reponsible.bg-green {
  background-color: #1ed47e;
}
.cont-promise__list-item .title_responsible .name_reponsible.bg-policy {
  background-color: #fae100;
}
.cont-promise__list-item .title_responsible .name_reponsible::before {
  content: "";
  display: block;
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  left: -2.4rem;
  top: 0;
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(/assets/img/right-top.svg);
}
@media (max-width: 1439px) {
  .cont-promise__list-item .title_responsible .name_reponsible::before {
    width: 18px;
    height: 18px;
    left: -16px;
  }
}
.cont-promise__list-item .title_responsible .name_reponsible::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  right: 0;
  bottom: -2.4rem;
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(/assets/img/right-top.svg);
}
@media (max-width: 1439px) {
  .cont-promise__list-item .title_responsible .name_reponsible::after {
    width: 18px;
    height: 18px;
    bottom: -16px;
  }
}
.cont-promise__list-item .img_responsible {
  display: block;
  width: 100%;
  max-width: 32.2rem;
  position: absolute;
  top: 16.4rem;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1902px) {
  .cont-promise__list-item .img_responsible {
    max-width: 24.4rem;
    top: 14.2rem;
  }
}
@media (max-width: 1439px) {
  .cont-promise__list-item .img_responsible {
    max-width: 18rem;
    top: 10.3rem;
  }
}
@media (max-width: 1023px) {
  .cont-promise__list-item .img_responsible {
    max-width: 14rem;
    top: 8.3rem;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item .img_responsible {
    width: auto;
    height: 14rem;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -5px;
  }
}
.cont-promise__list-item .text_responsible {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  font-size: 2.6rem;
  line-height: 1.46;
  letter-spacing: -0.8px;
  max-width: 34rem;
  color: #fff;
  word-break: keep-all;
}
@media (max-width: 1902px) {
  .cont-promise__list-item .text_responsible {
    max-width: 33rem;
  }
}
@media (max-width: 1439px) {
  .cont-promise__list-item .text_responsible {
    bottom: 24px;
    left: 24px;
    font-size: 17px;
    line-height: 1.52;
    letter-spacing: -0.2px;
    max-width: 20.2rem;
  }
}
@media (max-width: 1023px) {
  .cont-promise__list-item .text_responsible {
    bottom: 15px;
    left: 15px;
    max-width: 15.9rem;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item .text_responsible {
    bottom: 24px;
    left: 24px;
    font-size: 16px;
    max-width: 25rem;
  }
}
.cont-promise__list-item .btn_area {
  position: absolute;
  right: -2px;
  bottom: -2px;
  padding: 16px 0 0 16px;
  background-color: #fff;
  border-radius: 36px 0 0 0;
}
@media (max-width: 1902px) {
  .cont-promise__list-item .btn_area {
    padding: 15px 0 0 15px;
  }
}
@media (max-width: 1439px) {
  .cont-promise__list-item .btn_area {
    padding: 12px 0 0 12px;
    border-radius: 24px 0 0 0;
  }
}
@media (max-width: 1023px) {
  .cont-promise__list-item .btn_area {
    padding: 9px 0 0 9px;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item .btn_area {
    right: 20px;
    bottom: 20px;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
}
.cont-promise__list-item .btn_area::before {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(/assets/img/right-bottom.svg);
  left: -24px;
  bottom: 0;
}
@media (max-width: 1439px) {
  .cont-promise__list-item .btn_area::before {
    width: 18px;
    height: 18px;
    left: -16px;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item .btn_area::before {
    display: none;
  }
}
.cont-promise__list-item .btn_area::after {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(/assets/img/right-bottom.svg);
  right: 0;
  top: -24px;
}
@media (max-width: 1439px) {
  .cont-promise__list-item .btn_area::after {
    width: 18px;
    height: 18px;
    top: -16px;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item .btn_area::after {
    display: none;
  }
}
.cont-promise__list-item .btn_area:hover .btn_arr_big {
  opacity: 0.7;
}
.cont-promise__list-item .btn_area .btn_arr_big {
  width: 6.4rem;
  height: 100%;
  margin: 0 2px 2px 0;
}
@media (max-width: 1902px) {
  .cont-promise__list-item .btn_area .btn_arr_big {
    width: 5.5rem;
  }
}
@media (max-width: 1439px) {
  .cont-promise__list-item .btn_area .btn_arr_big {
    width: 4.8rem;
  }
}
@media (max-width: 767px) {
  .cont-promise__list-item .btn_area .btn_arr_big {
    margin: 0;
  }
}
.cont-promise__list .esg {
  background-color: #89dcff;
}
.cont-promise__list .esg .img_responsible {
  max-width: 55.9rem;
}
@media (max-width: 1902px) {
  .cont-promise__list .esg .img_responsible {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.cont-promise__list .esg .text_responsible {
  color: #000;
}
.cont-promise__list .green {
  background-color: #03502b;
}
.cont-promise__list .policy {
  background-color: #333;
}

.help-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1.6rem;
}
@media (max-width: 1023px) {
  .help-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.8rem;
  }
}
@media (max-width: 767px) {
  .help-grid {
    gap: 1.6rem;
  }
}
.help-grid .commons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  transition: all ease 0.2s;
}
.help-grid .commons .commons_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 1023px) {
  .help-grid .commons .commons_content {
    flex-direction: row;
  }
}
@media (max-width: 1023px) {
  .help-grid .commons .commons_content {
    flex-direction: column;
  }
}
.help-grid .commons .commons_content br {
  display: none;
}
@media (max-width: 1023px) {
  .help-grid .commons .commons_content br {
    display: block;
  }
}
.help-grid .commons .commons_content .common_name {
  font-size: 2.6rem;
  letter-spacing: -0.6px;
}
@media (max-width: 1439px) {
  .help-grid .commons .commons_content .common_name {
    font-size: 1.7rem;
  }
}
.help-grid .commons .icon_help {
  width: 8.4rem;
  height: auto;
}
@media (max-width: 1439px) {
  .help-grid .commons .icon_help {
    width: 6rem;
  }
}
@media (max-width: 1023px) {
  .help-grid .commons .icon_help {
    display: none;
  }
}
.help-grid .commons:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.help-grid .common_gosite {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.7rem;
  letter-spacing: -0.5px;
}
@media (max-width: 1439px) {
  .help-grid .common_gosite {
    font-size: 1.4rem;
  }
}
.help-grid .common_gosite:hover svg {
  opacity: 0.7;
}
@media (max-width: 1023px) {
  .help-grid .common_gosite.direct {
    text-indent: -9999px;
  }
}
.help-grid [class*=col-] > * {
  height: 100%;
  border-radius: 2rem;
  padding: 3.85rem 4rem;
}
@media (max-width: 1902px) {
  .help-grid [class*=col-] > * {
    padding: 3.45rem 4rem;
  }
}
@media (max-width: 1439px) {
  .help-grid [class*=col-] > * {
    padding: 2.4rem;
  }
}
@media (max-width: 767px) {
  .help-grid [class*=col-] > * {
    padding: 1.6rem;
  }
}
@media (max-width: 767px) {
  .help-grid [class*=col-] .center {
    height: 12.8rem;
  }
}
.help-grid .col-4 {
  grid-column: span 2;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1.6rem;
}
@media (max-width: 1023px) {
  .help-grid .col-4 {
    gap: 0.8rem;
    grid-column: span 3;
  }
}
@media (max-width: 767px) {
  .help-grid .col-4 {
    grid-column: span 6;
    gap: 1.6rem;
  }
}
.help-grid .col-4.center_wrapper {
  display: grid;
}
@media (max-width: 1023px) {
  .help-grid .col-4.center_wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-column: span 6;
  }
}
.help-grid .col-4 .kakao_subscribe {
  background-image: url(/assets/img/img_ryan.png);
  background-repeat: no-repeat;
  background-size: 264px auto;
  background-position: bottom;
  background-color: #fae100;
}
@media (max-width: 1023px) {
  .help-grid .col-4 .kakao_subscribe {
    background-image: none;
  }
}
.help-grid .col-4 .kakao_subscribe .sns_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
@media (max-width: 1023px) {
  .help-grid .col-4 .kakao_subscribe .sns_lists {
    margin-top: 2.4rem;
  }
}
.help-grid .col-4 .kakao_subscribe .sns_lists__item {
  transition: all ease 0.2s;
}
.help-grid .col-4 .kakao_subscribe .sns_lists__item:hover a {
  opacity: 0.8;
}
.help-grid .col-4 .kakao_subscribe .sns_lists__item a {
  display: block;
  width: 8rem;
  height: 8rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 1902px) {
  .help-grid .col-4 .kakao_subscribe .sns_lists__item a {
    width: 6rem;
    height: 6rem;
  }
}
@media (max-width: 1439px) {
  .help-grid .col-4 .kakao_subscribe .sns_lists__item a {
    width: 4.6rem;
    height: 4.6rem;
  }
}
@media (max-width: 1023px) {
  .help-grid .col-4 .kakao_subscribe .sns_lists__item a {
    width: 5.6em;
    height: 5.6rem;
  }
}
.help-grid .col-4 .kakao_subscribe .sns_lists__item a.kakao {
  background-image: url(/assets/img/icon_ch.png);
}
.help-grid .col-4 .kakao_subscribe .sns_lists__item a.youtube {
  background-image: url(/assets/img/icon_yt.png);
}
.help-grid .col-4 .kakao_subscribe .sns_lists__item a.insta {
  background-image: url(/assets/img/icon_insta.png);
}
.help-grid .col-4 .kakao_subscribe .sns_lists__item a.facebook {
  background-image: url(/assets/img/icon_fb.png);
}
.help-grid .col-4 .kakao_subscribe .sns_lists__item a.linked {
  background-image: url(/assets/img/icon_li.png);
}
.help-grid .col-4 .kakao_crew {
  color: #fff;
  background-image: url(/assets/img/img_recruit.png);
  background-position: 0 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #0073ff;
}
@media (max-width: 1023px) {
  .help-grid .col-4 .kakao_crew {
    background-position: right 16px bottom 16px;
    background-size: 15.4rem 6.8rem;
    background-image: url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/main/img_recruit_mo.png);
  }
}
@media (max-width: 767px) {
  .help-grid .col-4 .kakao_crew {
    height: 18.4rem;
  }
}
.help-grid .col-4 > [class*=kakao_] p {
  margin-bottom: 2.4rem;
  font-size: 2.6rem;
  letter-spacing: -0.6px;
  font-weight: 600;
}
@media (max-width: 1902px) {
  .help-grid .col-4 > [class*=kakao_] p {
    margin-bottom: 1.2rem;
  }
}
@media (max-width: 1439px) {
  .help-grid .col-4 > [class*=kakao_] p {
    font-size: 1.7rem;
  }
}
@media (max-width: 1023px) {
  .help-grid .col-4 > [class*=kakao_] p {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .help-grid .col-4 > [class*=kakao_] p {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
}
.help-grid .col-4 > [class*=kakao_] span {
  font-size: 1.7rem;
  letter-spacing: -0.5px;
}
@media (max-width: 1439px) {
  .help-grid .col-4 > [class*=kakao_] span {
    font-size: 1.4rem;
  }
}
.help-grid .col-6 {
  grid-column: span 3;
}
@media (max-width: 767px) {
  .help-grid .col-6 {
    height: auto;
    grid-column: span 6;
  }
}
@media (max-width: 1023px) {
  .help-grid .col-6 > a .commons_content {
    width: auto;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .help-grid .col-6 > a .commons_content .common_gosite {
    text-indent: -9999px;
  }
}
.help-grid .col-6 > a .icon_help {
  display: block;
}