@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/noto-sans-kr-v36-korean-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/noto-sans-kr-v36-korean-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/noto-sans-kr-v36-korean-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-600 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/noto-sans-kr-v36-korean-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/noto-sans-kr-v36-korean-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-800 - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/noto-sans-kr-v36-korean-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}
.header.active {
  border: 1px solid #eee;
}
.header > .wrap__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 171.2rem;
  height: 9.2rem;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .header > .wrap__header {
    max-width: 71.2rem;
  }
}
.header > .wrap__header .logo {
  width: 7.4rem;
}
.header > .wrap__header .gnb .gnb__list {
  display: flex;
  gap: 0;
  align-items: center;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item {
  transition: all linear 0.3s;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item.active .gnb__link {
  opacity: 1;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item.not-active .gnb__link {
  opacity: 0.5;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link {
  display: block;
  padding: 0 4rem;
  line-height: 8.5rem;
  font-weight: 400;
  text-align: center;
  font-size: 1.7rem;
}
.header > .wrap__header .gnb .gnb__list .gnb__list-item > .gnb__link > .ico_link {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 38px 0 0 4px;
  vertical-align: top;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' fill='none'%3E%3Cpath d='M1.794 1.074h6.148V7.22m0-6.146L1.378 7.638' stroke='%23000' stroke-width='1.3'/%3E%3C/svg%3E");
}
.header > .wrap__header .util__btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header > .wrap__header .util__btns > .util__btn {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}
.header > .wrap__header .util__btns > .util__btn:hover {
  background-color: #eee;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
  color: #000;
}